// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace TimeOffPoliciesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TimeOffPoliciesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TimeOffPoliciesClient.Options>;

    constructor(options: TimeOffPoliciesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.GetTimeOffPoliciesRequest} request
     * @param {TimeOffPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOffPolicies.getTimeOffPolicies({
     *         workspaceId: "60f91b3ffdaf031696ec61a8",
     *         name: "Holidays"
     *     })
     */
    public getTimeOffPolicies(
        request: ClockifyApi.GetTimeOffPoliciesRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Policy[]> {
        return core.HttpResponsePromise.fromPromise(this.__getTimeOffPolicies(request, requestOptions));
    }

    private async __getTimeOffPolicies(
        request: ClockifyApi.GetTimeOffPoliciesRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Policy[]>> {
        const {
            workspaceId,
            page,
            "page-size": pageSize,
            name,
            status,
            "sort-column": sortColumn,
            "sort-order": sortOrder,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            "page-size": pageSize,
            name,
            status: status != null ? status : undefined,
            "sort-column": sortColumn,
            "sort-order": sortOrder,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/policies`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Policy[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/time-off/policies",
        );
    }

    /**
     * @param {ClockifyApi.CreateTimeOffPolicyRequest} request
     * @param {TimeOffPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOffPolicies.createTimeOffPolicy({
     *         workspaceId: "60f91b3ffdaf031696ec61a8",
     *         allowHalfDay: false,
     *         allowNegativeBalance: true,
     *         approve: {
     *             requiresApproval: true,
     *             specificMembers: false,
     *             teamManagers: true,
     *             userIds: ["5b715612b079875110791432"]
     *         },
     *         archived: true,
     *         automaticAccrual: {
     *             amount: 1.5,
     *             period: "MONTH",
     *             timeUnit: "DAYS"
     *         },
     *         automaticTimeEntryCreation: {
     *             defaultEntities: {
     *                 projectId: "65b36d3c525e243c48f9150f",
     *                 taskId: "65b36d46fa3df8607e42d21a"
     *             },
     *             enabled: true
     *         },
     *         color: "#8BC34A",
     *         everyoneIncludingNew: false,
     *         hasExpiration: false,
     *         icon: "UMBRELLA",
     *         name: "Mental health days",
     *         negativeBalance: {
     *             amount: 3,
     *             amountValidForTimeUnit: true,
     *             period: "YEAR",
     *             shouldReset: true,
     *             timeUnit: "DAYS"
     *         },
     *         timeUnit: "DAYS",
     *         userGroups: {
     *             contains: "CONTAINS",
     *             ids: ["5b715612b079875110791342"],
     *             status: "ACTIVE"
     *         },
     *         users: {
     *             contains: "CONTAINS",
     *             ids: ["5b715612b079875110791432"],
     *             status: "ACTIVE"
     *         }
     *     })
     */
    public createTimeOffPolicy(
        request: ClockifyApi.CreateTimeOffPolicyRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Policy> {
        return core.HttpResponsePromise.fromPromise(this.__createTimeOffPolicy(request, requestOptions));
    }

    private async __createTimeOffPolicy(
        request: ClockifyApi.CreateTimeOffPolicyRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Policy>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/policies`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Policy, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/time-off/policies",
        );
    }

    /**
     * @param {ClockifyApi.GetTimeOffPolicyRequest} request
     * @param {TimeOffPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOffPolicies.getTimeOffPolicy({
     *         workspaceId: "60f91b3ffdaf031696ec61a8",
     *         policyId: "policyId"
     *     })
     */
    public getTimeOffPolicy(
        request: ClockifyApi.GetTimeOffPolicyRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Policy> {
        return core.HttpResponsePromise.fromPromise(this.__getTimeOffPolicy(request, requestOptions));
    }

    private async __getTimeOffPolicy(
        request: ClockifyApi.GetTimeOffPolicyRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Policy>> {
        const { workspaceId, policyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Policy, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/time-off/policies/{policyId}",
        );
    }

    /**
     * Updates a time off policy using the request and response schemas documented in the source Markdown.
     *
     * @param {ClockifyApi.UpdateTimeOffPolicyRequest} request
     * @param {TimeOffPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOffPolicies.updateTimeOffPolicy({
     *         workspaceId: "60f91b3ffdaf031696ec61a8",
     *         policyId: "policyId",
     *         allowHalfDay: false,
     *         allowNegativeBalance: true,
     *         approve: {
     *             requiresApproval: true,
     *             specificMembers: false,
     *             teamManagers: true,
     *             userIds: ["5b715612b079875110791432"]
     *         },
     *         archived: false,
     *         automaticAccrual: {
     *             amount: 1.5,
     *             period: "MONTH",
     *             timeUnit: "DAYS"
     *         },
     *         automaticTimeEntryCreation: {
     *             defaultEntities: {
     *                 projectId: "65b36d3c525e243c48f9150f",
     *                 taskId: "65b36d46fa3df8607e42d21a"
     *             },
     *             enabled: true
     *         },
     *         color: "#8BC34A",
     *         everyoneIncludingNew: false,
     *         hasExpiration: false,
     *         icon: "UMBRELLA",
     *         name: "Vacation days",
     *         negativeBalance: {
     *             amount: 3,
     *             amountValidForTimeUnit: true,
     *             period: "YEAR",
     *             shouldReset: true,
     *             timeUnit: "DAYS"
     *         },
     *         userGroups: {
     *             contains: "CONTAINS",
     *             ids: ["5b715612b079875110791342"],
     *             status: "ACTIVE"
     *         },
     *         users: {
     *             contains: "CONTAINS",
     *             ids: ["5b715612b079875110791432"],
     *             status: "ACTIVE"
     *         }
     *     })
     */
    public updateTimeOffPolicy(
        request: ClockifyApi.UpdateTimeOffPolicyRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Policy> {
        return core.HttpResponsePromise.fromPromise(this.__updateTimeOffPolicy(request, requestOptions));
    }

    private async __updateTimeOffPolicy(
        request: ClockifyApi.UpdateTimeOffPolicyRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Policy>> {
        const { workspaceId, policyId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Policy, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/time-off/policies/{policyId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteTimeOffPolicyRequest} request
     * @param {TimeOffPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOffPolicies.deleteTimeOffPolicy({
     *         workspaceId: "60f91b3ffdaf031696ec61a8",
     *         policyId: "policyId"
     *     })
     */
    public deleteTimeOffPolicy(
        request: ClockifyApi.DeleteTimeOffPolicyRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteTimeOffPolicy(request, requestOptions));
    }

    private async __deleteTimeOffPolicy(
        request: ClockifyApi.DeleteTimeOffPolicyRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, policyId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/time-off/policies/{policyId}",
        );
    }

    /**
     * @param {ClockifyApi.PolicyStatusChangeRequest} request
     * @param {TimeOffPoliciesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOffPolicies.changeTimeOffPolicyStatus({
     *         workspaceId: "60f91b3ffdaf031696ec61a8",
     *         policyId: "policyId",
     *         status: "ACTIVE"
     *     })
     */
    public changeTimeOffPolicyStatus(
        request: ClockifyApi.PolicyStatusChangeRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Policy> {
        return core.HttpResponsePromise.fromPromise(this.__changeTimeOffPolicyStatus(request, requestOptions));
    }

    private async __changeTimeOffPolicyStatus(
        request: ClockifyApi.PolicyStatusChangeRequest,
        requestOptions?: TimeOffPoliciesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Policy>> {
        const { workspaceId, policyId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/policies/${core.url.encodePathParam(policyId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Policy, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/time-off/policies/{policyId}",
        );
    }
}
