// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace SharedReportsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SharedReportsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SharedReportsClient.Options>;

    constructor(options: SharedReportsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Bare path (no workspace segment). Pass `?exportType=PDF|CSV|XLSX|JSON_V1`
     * to receive a binary export with `Content-Disposition` filename. Without
     * `exportType`, returns the shared-report JSON envelope.
     */
    public view(
        request: ClockifyApi.ViewSharedReportsRequest,
        requestOptions?: SharedReportsClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__view(request, requestOptions));
    }

    private async __view(
        request: ClockifyApi.ViewSharedReportsRequest,
        requestOptions?: SharedReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { sharedReportId, exportType } = request;
        const _queryParams: Record<string, unknown> = {
            exportType: exportType != null ? exportType : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `shared-reports/${core.url.encodePathParam(sharedReportId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/shared-reports/{sharedReportId}",
        );
    }

    /**
     * VERIFIED LIVE: uses `pageSize` (camelCase). Hyphenated
     * `page-size` is silently ignored. Response envelope is
     * `{reports:[], count}`.
     *
     * @param {ClockifyApi.ListSharedReportsRequest} request
     * @param {SharedReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.sharedReports.list({
     *         workspaceId: "workspaceId"
     *     })
     */
    public list(
        request: ClockifyApi.ListSharedReportsRequest,
        requestOptions?: SharedReportsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.SharedReportListEnvelope> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ClockifyApi.ListSharedReportsRequest,
        requestOptions?: SharedReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.SharedReportListEnvelope>> {
        const { workspaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/shared-reports`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.SharedReportListEnvelope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/shared-reports",
        );
    }

    /**
     * Body uses `type` (not `reportType`) and `filter` (singular,
     * not `filters`). Required nested keys:
     * `filter.exportType`, `filter.dateRangeStart`, `filter.dateRangeEnd`.
     *
     * @param {ClockifyApi.CreateSharedReportsRequest} request
     * @param {SharedReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.sharedReports.create({
     *         workspaceId: "workspaceId",
     *         body: {
     *             filter: {
     *                 dateRangeEnd: "2024-01-15T09:30:00Z",
     *                 dateRangeStart: "2024-01-15T09:30:00Z",
     *                 exportType: "JSON_V1"
     *             },
     *             name: "name",
     *             type: "SUMMARY"
     *         }
     *     })
     */
    public create(
        request: ClockifyApi.CreateSharedReportsRequest,
        requestOptions?: SharedReportsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.SharedReport> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: ClockifyApi.CreateSharedReportsRequest,
        requestOptions?: SharedReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.SharedReport>> {
        const { workspaceId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/shared-reports`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.SharedReport, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/shared-reports",
        );
    }

    /**
     * Workspace-prefixed PUT works (bare-id PUT/PATCH return 405).
     * Body uses `type` and `filter` (per create). PUT is MERGE — sending
     * `{name}` alone preserves the existing filter.
     *
     * @param {ClockifyApi.UpdateSharedReportsRequest} request
     * @param {SharedReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.sharedReports.update({
     *         workspaceId: "workspaceId",
     *         sharedReportId: "sharedReportId",
     *         body: {
     *             filter: {
     *                 dateRangeEnd: "2024-01-15T09:30:00Z",
     *                 dateRangeStart: "2024-01-15T09:30:00Z",
     *                 exportType: "JSON_V1"
     *             },
     *             name: "name",
     *             type: "SUMMARY"
     *         }
     *     })
     */
    public update(
        request: ClockifyApi.UpdateSharedReportsRequest,
        requestOptions?: SharedReportsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.SharedReport> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: ClockifyApi.UpdateSharedReportsRequest,
        requestOptions?: SharedReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.SharedReport>> {
        const { workspaceId, sharedReportId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/shared-reports/${core.url.encodePathParam(sharedReportId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.SharedReport, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/shared-reports/{sharedReportId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteSharedReportsRequest} request
     * @param {SharedReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.sharedReports.delete({
     *         workspaceId: "workspaceId",
     *         sharedReportId: "sharedReportId"
     *     })
     */
    public delete(
        request: ClockifyApi.DeleteSharedReportsRequest,
        requestOptions?: SharedReportsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: ClockifyApi.DeleteSharedReportsRequest,
        requestOptions?: SharedReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, sharedReportId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/shared-reports/${core.url.encodePathParam(sharedReportId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/shared-reports/{sharedReportId}",
        );
    }
}
