// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace InvoiceItemsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InvoiceItemsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InvoiceItemsClient.Options>;

    constructor(options: InvoiceItemsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.AddInvoiceItemRequest} request
     * @param {InvoiceItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoiceItems.addInvoiceItem({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId",
     *         applyTaxes: "TAX1TAX2",
     *         description: "This is a description of an invoice item.",
     *         itemType: "Service",
     *         quantity: 10000,
     *         unitPrice: 500
     *     })
     */
    public addInvoiceItem(
        request: ClockifyApi.AddInvoiceItemRequest,
        requestOptions?: InvoiceItemsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceDtoFull> {
        return core.HttpResponsePromise.fromPromise(this.__addInvoiceItem(request, requestOptions));
    }

    private async __addInvoiceItem(
        request: ClockifyApi.AddInvoiceItemRequest,
        requestOptions?: InvoiceItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceDtoFull>> {
        const { workspaceId, invoiceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}/items`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceDtoFull, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/invoices/{invoiceId}/items",
        );
    }

    /**
     * @param {ClockifyApi.ImportInvoiceItemsRequest} request
     * @param {InvoiceItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoiceItems.importInvoiceItems({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId",
     *         expenseFieldsForDetailedGroup: ["NOTE"],
     *         expensesGroupBy: "CATEGORY",
     *         expensesGroupType: "GROUPED",
     *         from: "2025-06-01T00:00:00Z",
     *         importExpenses: false,
     *         projectFilter: {
     *             contains: "CONTAINS",
     *             ids: ["25b687e29ae1f428e7ebe123"],
     *             status: "ACTIVE"
     *         },
     *         roundTimeEntryDuration: false,
     *         timeEntryFieldsForDetailedGroup: ["PROJECT", "DESCRIPTION"],
     *         timeEntryGroupType: "GROUPED",
     *         timeEntryPrimaryGroupBy: "PROJECT",
     *         timeEntrySecondaryGroupBy: "TASK",
     *         to: "2025-06-07T00:00:00Z"
     *     })
     */
    public importInvoiceItems(
        request: ClockifyApi.ImportInvoiceItemsRequest,
        requestOptions?: InvoiceItemsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceDtoFull> {
        return core.HttpResponsePromise.fromPromise(this.__importInvoiceItems(request, requestOptions));
    }

    private async __importInvoiceItems(
        request: ClockifyApi.ImportInvoiceItemsRequest,
        requestOptions?: InvoiceItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceDtoFull>> {
        const { workspaceId, invoiceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}/items/import`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceDtoFull, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/invoices/{invoiceId}/items/import",
        );
    }

    /**
     * @param {ClockifyApi.DeleteInvoiceItemRequest} request
     * @param {InvoiceItemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoiceItems.deleteInvoiceItem({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId",
     *         order: "order"
     *     })
     */
    public deleteInvoiceItem(
        request: ClockifyApi.DeleteInvoiceItemRequest,
        requestOptions?: InvoiceItemsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceDtoFull> {
        return core.HttpResponsePromise.fromPromise(this.__deleteInvoiceItem(request, requestOptions));
    }

    private async __deleteInvoiceItem(
        request: ClockifyApi.DeleteInvoiceItemRequest,
        requestOptions?: InvoiceItemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceDtoFull>> {
        const { workspaceId, invoiceId, order } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}/items/${core.url.encodePathParam(order)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceDtoFull, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/invoices/{invoiceId}/items/{order}",
        );
    }
}
