// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace ExpensesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExpensesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExpensesClient.Options>;

    constructor(options: ExpensesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.ListExpensesRequest} request
     * @param {ExpensesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.expenses.list({
     *         workspaceId: "workspaceId"
     *     })
     */
    public list(
        request: ClockifyApi.ListExpensesRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.WorkspaceExpensesDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ClockifyApi.ListExpensesRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.WorkspaceExpensesDtoV1>> {
        const { workspaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/expenses`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.WorkspaceExpensesDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/expenses",
        );
    }

    /**
     * @param {ClockifyApi.ExpenseCreateRequest} request
     * @param {ExpensesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.expenses.create({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         workspaceId: "workspaceId",
     *         amount: 1.1,
     *         categoryId: "categoryId",
     *         date: "2024-01-15T09:30:00Z",
     *         projectId: "projectId",
     *         userId: "userId"
     *     })
     */
    public create(
        request: ClockifyApi.ExpenseCreateRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ExpenseDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: ClockifyApi.ExpenseCreateRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ExpenseDtoV1>> {
        const _body = await core.newFormData();
        _body.append("amount", request.amount.toString());
        if (request.billable != null) {
            _body.append("billable", request.billable?.toString());
        }

        _body.append("categoryId", request.categoryId);
        _body.append("date", request.date);
        await _body.appendFile("file", request.file);
        if (request.notes != null) {
            _body.append("notes", request.notes);
        }

        _body.append("projectId", request.projectId);
        if (request.taskId != null) {
            _body.append("taskId", request.taskId);
        }

        _body.append("userId", request.userId);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken,
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(request.workspaceId)}/expenses`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ExpenseDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/expenses",
        );
    }

    /**
     * @param {ClockifyApi.GetExpensesRequest} request
     * @param {ExpensesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.expenses.get({
     *         workspaceId: "workspaceId",
     *         expenseId: "expenseId"
     *     })
     */
    public get(
        request: ClockifyApi.GetExpensesRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ExpenseDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: ClockifyApi.GetExpensesRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ExpenseDtoV1>> {
        const { workspaceId, expenseId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/expenses/${core.url.encodePathParam(expenseId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ExpenseDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/expenses/{expenseId}",
        );
    }

    /**
     * @param {ClockifyApi.ExpenseUpdateRequest} request
     * @param {ExpensesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.expenses.update({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         workspaceId: "workspaceId",
     *         expenseId: "expenseId",
     *         amount: 1.1,
     *         categoryId: "categoryId",
     *         changeFields: ["USER"],
     *         date: "2024-01-15T09:30:00Z",
     *         userId: "userId"
     *     })
     */
    public update(
        request: ClockifyApi.ExpenseUpdateRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ExpenseDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: ClockifyApi.ExpenseUpdateRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ExpenseDtoV1>> {
        const _body = await core.newFormData();
        _body.append("amount", request.amount.toString());
        if (request.billable != null) {
            _body.append("billable", request.billable?.toString());
        }

        _body.append("categoryId", request.categoryId);
        for (const _item of request.changeFields) {
            _body.append("changeFields", _item);
        }

        _body.append("date", request.date);
        await _body.appendFile("file", request.file);
        if (request.notes != null) {
            _body.append("notes", request.notes);
        }

        if (request.projectId != null) {
            _body.append("projectId", request.projectId);
        }

        if (request.taskId != null) {
            _body.append("taskId", request.taskId);
        }

        _body.append("userId", request.userId);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken,
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(request.workspaceId)}/expenses/${core.url.encodePathParam(request.expenseId)}`,
            ),
            method: "PUT",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ExpenseDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/expenses/{expenseId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteExpensesRequest} request
     * @param {ExpensesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.expenses.delete({
     *         workspaceId: "workspaceId",
     *         expenseId: "expenseId"
     *     })
     */
    public delete(
        request: ClockifyApi.DeleteExpensesRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: ClockifyApi.DeleteExpensesRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, expenseId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/expenses/${core.url.encodePathParam(expenseId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/expenses/{expenseId}",
        );
    }

    /**
     * Download an expense receipt file. The uploaded Markdown includes this operation's parameters and response but omits the method/path line; this path is completed from the official Clockify documentation.
     */
    public downloadExpenseReceipt(
        request: ClockifyApi.DownloadExpenseReceiptRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__downloadExpenseReceipt(request, requestOptions));
    }

    private async __downloadExpenseReceipt(
        request: ClockifyApi.DownloadExpenseReceiptRequest,
        requestOptions?: ExpensesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { workspaceId, expenseId, fileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/expenses/${core.url.encodePathParam(expenseId)}/files/${core.url.encodePathParam(fileId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/expenses/{expenseId}/files/{fileId}",
        );
    }
}
