// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace TasksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TasksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TasksClient.Options>;

    constructor(options: TasksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.FindTasksOnProjectRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.findTasksOnProject({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         name: "Bugfixing"
     *     })
     */
    public findTasksOnProject(
        request: ClockifyApi.FindTasksOnProjectRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task[]> {
        return core.HttpResponsePromise.fromPromise(this.__findTasksOnProject(request, requestOptions));
    }

    private async __findTasksOnProject(
        request: ClockifyApi.FindTasksOnProjectRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task[]>> {
        const {
            workspaceId,
            projectId,
            name,
            "strict-name-search": strictNameSearch,
            "is-active": isActive,
            page,
            "page-size": pageSize,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            "strict-name-search": strictNameSearch,
            "is-active": isActive,
            page,
            "page-size": pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks",
        );
    }

    /**
     * @param {ClockifyApi.TaskCreateRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.addTaskOnProject({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         assigneeIds: ["45b687e29ae1f428e7ebe123", "67s687e29ae1f428e7ebe678"],
     *         budgetEstimate: 10000,
     *         estimate: "PT1H30M",
     *         id: "57a687e29ae1f428e7ebe107",
     *         name: "Bugfixing",
     *         status: "DONE",
     *         userGroupIds: ["67b687e29ae1f428e7ebe123", "12s687e29ae1f428e7ebe678"]
     *     })
     */
    public addTaskOnProject(
        request: ClockifyApi.TaskCreateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__addTaskOnProject(request, requestOptions));
    }

    private async __addTaskOnProject(
        request: ClockifyApi.TaskCreateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks",
        );
    }

    /**
     * @param {ClockifyApi.GetTaskByIdRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.getTaskById({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         taskId: "taskId"
     *     })
     */
    public getTaskById(
        request: ClockifyApi.GetTaskByIdRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__getTaskById(request, requestOptions));
    }

    private async __getTaskById(
        request: ClockifyApi.GetTaskByIdRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, taskId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}",
        );
    }

    /**
     * Inferred as PUT on the task-by-id path because the uploaded Markdown includes the update operation details but omits its method/path line.
     *
     * @param {ClockifyApi.TaskUpdateRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.updateTaskOnProject({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         taskId: "taskId",
     *         assigneeIds: ["45b687e29ae1f428e7ebe123", "67s687e29ae1f428e7ebe678"],
     *         billable: false,
     *         budgetEstimate: 10000,
     *         estimate: "PT1H30M",
     *         name: "Bugfixing",
     *         status: "DONE",
     *         userGroupIds: ["67b687e29ae1f428e7ebe123", "12s687e29ae1f428e7ebe678"]
     *     })
     */
    public updateTaskOnProject(
        request: ClockifyApi.TaskUpdateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__updateTaskOnProject(request, requestOptions));
    }

    private async __updateTaskOnProject(
        request: ClockifyApi.TaskUpdateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, taskId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks/${core.url.encodePathParam(taskId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteTaskFromProjectRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.deleteTaskFromProject({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         taskId: "taskId"
     *     })
     */
    public deleteTaskFromProject(
        request: ClockifyApi.DeleteTaskFromProjectRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__deleteTaskFromProject(request, requestOptions));
    }

    private async __deleteTaskFromProject(
        request: ClockifyApi.DeleteTaskFromProjectRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, taskId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks/${core.url.encodePathParam(taskId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}",
        );
    }

    /**
     * @param {ClockifyApi.UpdateTaskCostRateRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.updateTaskCostRate({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         taskId: "taskId",
     *         body: {
     *             amount: 20000,
     *             since: "2020-01-01T00:00:00Z"
     *         }
     *     })
     */
    public updateTaskCostRate(
        request: ClockifyApi.UpdateTaskCostRateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__updateTaskCostRate(request, requestOptions));
    }

    private async __updateTaskCostRate(
        request: ClockifyApi.UpdateTaskCostRateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, taskId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks/${core.url.encodePathParam(taskId)}/cost-rate`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}/cost-rate",
        );
    }

    /**
     * @param {ClockifyApi.UpdateTaskBillableRateRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.updateTaskBillableRate({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         taskId: "taskId",
     *         body: {
     *             amount: 20000,
     *             since: "2020-01-01T00:00:00Z"
     *         }
     *     })
     */
    public updateTaskBillableRate(
        request: ClockifyApi.UpdateTaskBillableRateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__updateTaskBillableRate(request, requestOptions));
    }

    private async __updateTaskBillableRate(
        request: ClockifyApi.UpdateTaskBillableRateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, taskId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks/${core.url.encodePathParam(taskId)}/hourly-rate`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}/hourly-rate",
        );
    }
}
