// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace TasksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TasksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TasksClient.Options>;

    constructor(options: TasksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.ListTasksRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.list({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         name: "Bugfixing"
     *     })
     */
    public list(
        request: ClockifyApi.ListTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ClockifyApi.ListTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task[]>> {
        const {
            workspaceId,
            projectId,
            name,
            "strict-name-search": strictNameSearch,
            "is-active": isActive,
            page,
            "page-size": pageSize,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            "strict-name-search": strictNameSearch,
            "is-active": isActive,
            page,
            "page-size": pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks",
        );
    }

    /**
     * @param {ClockifyApi.TaskCreateRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.create({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         assigneeIds: ["45b687e29ae1f428e7ebe123", "67s687e29ae1f428e7ebe678"],
     *         budgetEstimate: 10000,
     *         estimate: "PT1H30M",
     *         id: "57a687e29ae1f428e7ebe107",
     *         name: "Bugfixing",
     *         status: "DONE",
     *         userGroupIds: ["67b687e29ae1f428e7ebe123", "12s687e29ae1f428e7ebe678"]
     *     })
     */
    public create(
        request: ClockifyApi.TaskCreateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: ClockifyApi.TaskCreateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks",
        );
    }

    /**
     * @param {ClockifyApi.GetTasksRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.get({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         taskId: "taskId"
     *     })
     */
    public get(
        request: ClockifyApi.GetTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: ClockifyApi.GetTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, taskId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks/${core.url.encodePathParam(taskId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}",
        );
    }

    /**
     * Inferred as PUT on the task-by-id path because the uploaded Markdown includes the update operation details but omits its method/path line.
     *
     * @param {ClockifyApi.TaskUpdateRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.update({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         taskId: "taskId",
     *         assigneeIds: ["45b687e29ae1f428e7ebe123", "67s687e29ae1f428e7ebe678"],
     *         billable: false,
     *         budgetEstimate: 10000,
     *         estimate: "PT1H30M",
     *         name: "Bugfixing",
     *         status: "DONE",
     *         userGroupIds: ["67b687e29ae1f428e7ebe123", "12s687e29ae1f428e7ebe678"]
     *     })
     */
    public update(
        request: ClockifyApi.TaskUpdateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: ClockifyApi.TaskUpdateRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, taskId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks/${core.url.encodePathParam(taskId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteTasksRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.delete({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         taskId: "taskId"
     *     })
     */
    public delete(
        request: ClockifyApi.DeleteTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: ClockifyApi.DeleteTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, taskId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks/${core.url.encodePathParam(taskId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}",
        );
    }

    /**
     * @param {ClockifyApi.UpdateCostRateTasksRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.updateCostRate({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         taskId: "taskId",
     *         body: {
     *             amount: 20000,
     *             since: "2020-01-01T00:00:00Z"
     *         }
     *     })
     */
    public updateCostRate(
        request: ClockifyApi.UpdateCostRateTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__updateCostRate(request, requestOptions));
    }

    private async __updateCostRate(
        request: ClockifyApi.UpdateCostRateTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, taskId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks/${core.url.encodePathParam(taskId)}/cost-rate`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}/cost-rate",
        );
    }

    /**
     * @param {ClockifyApi.UpdateBillableRateTasksRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tasks.updateBillableRate({
     *         workspaceId: "workspaceId",
     *         projectId: "projectId",
     *         taskId: "taskId",
     *         body: {
     *             amount: 20000,
     *             since: "2020-01-01T00:00:00Z"
     *         }
     *     })
     */
    public updateBillableRate(
        request: ClockifyApi.UpdateBillableRateTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Task> {
        return core.HttpResponsePromise.fromPromise(this.__updateBillableRate(request, requestOptions));
    }

    private async __updateBillableRate(
        request: ClockifyApi.UpdateBillableRateTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Task>> {
        const { workspaceId, projectId, taskId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/tasks/${core.url.encodePathParam(taskId)}/hourly-rate`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}/hourly-rate",
        );
    }
}
