// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace BalancesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BalancesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BalancesClient.Options>;

    constructor(options: BalancesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get time-off balances for a specific policy in a workspace.
     *
     * @param {ClockifyApi.GetBalancesForPolicyRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.balances.getBalancesForPolicy({
     *         workspaceId: "workspaceId",
     *         policyId: "policyId"
     *     })
     */
    public getBalancesForPolicy(
        request: ClockifyApi.GetBalancesForPolicyRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.BalanceListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBalancesForPolicy(request, requestOptions));
    }

    private async __getBalancesForPolicy(
        request: ClockifyApi.GetBalancesForPolicyRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.BalanceListResponse>> {
        const { workspaceId, policyId, page, "page-size": pageSize, sort, "sort-order": sortOrder } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            "page-size": pageSize,
            sort: sort != null ? sort : undefined,
            "sort-order": sortOrder != null ? sortOrder : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/balance/policy/${core.url.encodePathParam(policyId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.BalanceListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/time-off/balance/policy/{policyId}",
        );
    }

    /**
     * Update time-off balances for one or more users under a policy.
     *
     * @param {ClockifyApi.UpdateBalanceRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.balances.updateBalance({
     *         workspaceId: "workspaceId",
     *         policyId: "policyId",
     *         note: "Bonus days added.",
     *         userIds: ["5b715448b079875110792222", "5b715448b079875110791111"],
     *         value: 22
     *     })
     */
    public updateBalance(
        request: ClockifyApi.UpdateBalanceRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__updateBalance(request, requestOptions));
    }

    private async __updateBalance(
        request: ClockifyApi.UpdateBalanceRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, policyId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/balance/policy/${core.url.encodePathParam(policyId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/time-off/balance/policy/{policyId}",
        );
    }

    /**
     * Get time-off balances for a specific user in a workspace.
     *
     * @param {ClockifyApi.GetBalanceForUserRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.balances.getBalanceForUser({
     *         workspaceId: "workspaceId",
     *         userId: "userId"
     *     })
     */
    public getBalanceForUser(
        request: ClockifyApi.GetBalanceForUserRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.BalanceListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBalanceForUser(request, requestOptions));
    }

    private async __getBalanceForUser(
        request: ClockifyApi.GetBalanceForUserRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.BalanceListResponse>> {
        const { workspaceId, userId, page, "page-size": pageSize, sort, "sort-order": sortOrder } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            "page-size": pageSize,
            sort: sort != null ? sort : undefined,
            "sort-order": sortOrder != null ? sortOrder : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/balance/user/${core.url.encodePathParam(userId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.BalanceListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/time-off/balance/user/{userId}",
        );
    }

    /**
     * @param {ClockifyApi.GetWorkspacesWorkspaceIdTimeOffRequestsRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.balances.getWorkspacesWorkspaceIdTimeOffRequests({
     *         workspaceId: "workspaceId"
     *     })
     */
    public getWorkspacesWorkspaceIdTimeOffRequests(
        request: ClockifyApi.GetWorkspacesWorkspaceIdTimeOffRequestsRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.GetWorkspacesWorkspaceIdTimeOffRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__getWorkspacesWorkspaceIdTimeOffRequests(request, requestOptions),
        );
    }

    private async __getWorkspacesWorkspaceIdTimeOffRequests(
        request: ClockifyApi.GetWorkspacesWorkspaceIdTimeOffRequestsRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.GetWorkspacesWorkspaceIdTimeOffRequestsResponse>> {
        const { workspaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/requests`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ClockifyApi.GetWorkspacesWorkspaceIdTimeOffRequestsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/time-off/requests",
        );
    }

    /**
     * @param {ClockifyApi.GetWorkspacesWorkspaceIdUsersUserIdTimeOffBalancesRequest} request
     * @param {BalancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.balances.getWorkspacesWorkspaceIdUsersUserIdTimeOffBalances({
     *         workspaceId: "workspaceId",
     *         userId: "userId"
     *     })
     */
    public getWorkspacesWorkspaceIdUsersUserIdTimeOffBalances(
        request: ClockifyApi.GetWorkspacesWorkspaceIdUsersUserIdTimeOffBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.GetWorkspacesWorkspaceIdUsersUserIdTimeOffBalancesResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__getWorkspacesWorkspaceIdUsersUserIdTimeOffBalances(request, requestOptions),
        );
    }

    private async __getWorkspacesWorkspaceIdUsersUserIdTimeOffBalances(
        request: ClockifyApi.GetWorkspacesWorkspaceIdUsersUserIdTimeOffBalancesRequest,
        requestOptions?: BalancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.GetWorkspacesWorkspaceIdUsersUserIdTimeOffBalancesResponse>> {
        const { workspaceId, userId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/users/${core.url.encodePathParam(userId)}/time-off/balances`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ClockifyApi.GetWorkspacesWorkspaceIdUsersUserIdTimeOffBalancesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/users/{userId}/time-off/balances",
        );
    }
}
