// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace ExpenseCategoriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExpenseCategoriesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExpenseCategoriesClient.Options>;

    constructor(options: ExpenseCategoriesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.ListExpenseCategoriesRequest} request
     * @param {ExpenseCategoriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.expenseCategories.list({
     *         workspaceId: "workspaceId"
     *     })
     */
    public list(
        request: ClockifyApi.ListExpenseCategoriesRequest,
        requestOptions?: ExpenseCategoriesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ExpenseCategoriesDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ClockifyApi.ListExpenseCategoriesRequest,
        requestOptions?: ExpenseCategoriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ExpenseCategoriesDtoV1>> {
        const { workspaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/expenses/categories`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ExpenseCategoriesDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/expenses/categories",
        );
    }

    /**
     * @param {ClockifyApi.CreateExpenseCategoriesRequest} request
     * @param {ExpenseCategoriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.expenseCategories.create({
     *         workspaceId: "workspaceId",
     *         body: {
     *             hasUnitPrice: false,
     *             name: "Procurement",
     *             priceInCents: 1000,
     *             unit: "piece"
     *         }
     *     })
     */
    public create(
        request: ClockifyApi.CreateExpenseCategoriesRequest,
        requestOptions?: ExpenseCategoriesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ExpenseCategoryDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: ClockifyApi.CreateExpenseCategoriesRequest,
        requestOptions?: ExpenseCategoriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ExpenseCategoryDtoV1>> {
        const { workspaceId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/expenses/categories`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ExpenseCategoryDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/expenses/categories",
        );
    }

    /**
     * @param {ClockifyApi.UpdateExpenseCategoriesRequest} request
     * @param {ExpenseCategoriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.expenseCategories.update({
     *         workspaceId: "workspaceId",
     *         categoryId: "categoryId",
     *         body: {
     *             hasUnitPrice: false,
     *             name: "Procurement",
     *             priceInCents: 1000,
     *             unit: "piece"
     *         }
     *     })
     */
    public update(
        request: ClockifyApi.UpdateExpenseCategoriesRequest,
        requestOptions?: ExpenseCategoriesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ExpenseCategoryDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: ClockifyApi.UpdateExpenseCategoriesRequest,
        requestOptions?: ExpenseCategoriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ExpenseCategoryDtoV1>> {
        const { workspaceId, categoryId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/expenses/categories/${core.url.encodePathParam(categoryId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ExpenseCategoryDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/expenses/categories/{categoryId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteExpenseCategoriesRequest} request
     * @param {ExpenseCategoriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.expenseCategories.delete({
     *         workspaceId: "workspaceId",
     *         categoryId: "categoryId"
     *     })
     */
    public delete(
        request: ClockifyApi.DeleteExpenseCategoriesRequest,
        requestOptions?: ExpenseCategoriesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: ClockifyApi.DeleteExpenseCategoriesRequest,
        requestOptions?: ExpenseCategoriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, categoryId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/expenses/categories/${core.url.encodePathParam(categoryId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/expenses/categories/{categoryId}",
        );
    }

    /**
     * @param {ClockifyApi.ExpenseCategoryStatusRequest} request
     * @param {ExpenseCategoriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.expenseCategories.archive({
     *         workspaceId: "workspaceId",
     *         categoryId: "categoryId",
     *         archived: false
     *     })
     */
    public archive(
        request: ClockifyApi.ExpenseCategoryStatusRequest,
        requestOptions?: ExpenseCategoriesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ExpenseCategoryDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__archive(request, requestOptions));
    }

    private async __archive(
        request: ClockifyApi.ExpenseCategoryStatusRequest,
        requestOptions?: ExpenseCategoriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ExpenseCategoryDtoV1>> {
        const { workspaceId, categoryId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/expenses/categories/${core.url.encodePathParam(categoryId)}/status`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ExpenseCategoryDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/expenses/categories/{categoryId}/status",
        );
    }
}
