// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace MemberProfilesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MemberProfilesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MemberProfilesClient.Options>;

    constructor(options: MemberProfilesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.GetMemberProfileRequest} request
     * @param {MemberProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.memberProfiles.getMemberProfile({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         userId: "5a0ab5acb07987125438b60f"
     *     })
     */
    public getMemberProfile(
        request: ClockifyApi.GetMemberProfileRequest,
        requestOptions?: MemberProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.MemberProfileDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__getMemberProfile(request, requestOptions));
    }

    private async __getMemberProfile(
        request: ClockifyApi.GetMemberProfileRequest,
        requestOptions?: MemberProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.MemberProfileDtoV1>> {
        const { workspaceId, userId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/member-profile/${core.url.encodePathParam(userId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.MemberProfileDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/member-profile/{userId}",
        );
    }

    /**
     * @param {ClockifyApi.MemberProfileUpdateRequest} request
     * @param {MemberProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.memberProfiles.updateMemberProfile({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         userId: "5a0ab5acb07987125438b60f",
     *         imageUrl: "https://www.url.com/imageurl-1234567890.jpg",
     *         removeProfileImage: false,
     *         userCustomFields: [{
     *                 customFieldId: "customFieldId"
     *             }],
     *         weekStart: "MONDAY",
     *         workCapacity: "PT7H",
     *         workingDays: ["MONDAY"]
     *     })
     */
    public updateMemberProfile(
        request: ClockifyApi.MemberProfileUpdateRequest,
        requestOptions?: MemberProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.MemberProfileDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__updateMemberProfile(request, requestOptions));
    }

    private async __updateMemberProfile(
        request: ClockifyApi.MemberProfileUpdateRequest,
        requestOptions?: MemberProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.MemberProfileDtoV1>> {
        const { workspaceId, userId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/member-profile/${core.url.encodePathParam(userId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.MemberProfileDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/member-profile/{userId}",
        );
    }
}
