// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace EntityChangesExperimentalClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EntityChangesExperimentalClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EntityChangesExperimentalClient.Options>;

    constructor(options: EntityChangesExperimentalClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves records from the database collection that were created within a specified date range.
     * The date range is determined by two parameters: start and end.
     *
     * @param {ClockifyApi.GetCreatedEntityInfoRequest} request
     * @param {EntityChangesExperimentalClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.entityChangesExperimental.getCreatedEntityInfo({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         type: ["TIME_ENTRY"],
     *         start: "2024-10-29T10:00:00Z",
     *         end: "2024-11-28T10:00:00Z"
     *     })
     */
    public getCreatedEntityInfo(
        request: ClockifyApi.GetCreatedEntityInfoRequest,
        requestOptions?: EntityChangesExperimentalClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getCreatedEntityInfo(request, requestOptions));
    }

    private async __getCreatedEntityInfo(
        request: ClockifyApi.GetCreatedEntityInfoRequest,
        requestOptions?: EntityChangesExperimentalClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { workspaceId, type: type_, start, end, page, limit } = request;
        const _queryParams: Record<string, unknown> = {
            type: type_,
            start,
            end,
            page,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/entities/created`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/entities/created",
        );
    }

    /**
     * Retrieves a list of record(s) that were deleted within a specified date range.
     * The date range is determined by the two parameters start and end.
     *
     * > ### 💡 Note
     * > Deleted entities will be updated and reflected in this endpoint approximately one minute after the deletion occurs. Also, entities that are created and deleted within the request date range will not appear in the /deleted endpoint.
     *
     * @param {ClockifyApi.GetDeletedEntityInfoRequest} request
     * @param {EntityChangesExperimentalClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.entityChangesExperimental.getDeletedEntityInfo({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         type: ["TIME_ENTRY"],
     *         start: "2024-10-29T10:00:00Z",
     *         end: "2024-11-28T10:00:00Z"
     *     })
     */
    public getDeletedEntityInfo(
        request: ClockifyApi.GetDeletedEntityInfoRequest,
        requestOptions?: EntityChangesExperimentalClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.PageableCollectionLogBinDocumentDto> {
        return core.HttpResponsePromise.fromPromise(this.__getDeletedEntityInfo(request, requestOptions));
    }

    private async __getDeletedEntityInfo(
        request: ClockifyApi.GetDeletedEntityInfoRequest,
        requestOptions?: EntityChangesExperimentalClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.PageableCollectionLogBinDocumentDto>> {
        const { workspaceId, type: type_, start, end, page, limit } = request;
        const _queryParams: Record<string, unknown> = {
            type: type_,
            start,
            end,
            page,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/entities/deleted`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ClockifyApi.PageableCollectionLogBinDocumentDto,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/entities/deleted",
        );
    }

    /**
     * Retrieves records that were updated within the specified date range.
     * The date range is determined by the two parameters: start and end.
     *
     * > ### 💡 Note
     * > If an entity is both created and updated within the requested date range, it will be excluded from the /updated endpoint results.
     *
     * @param {ClockifyApi.GetUpdatedEntityInfoRequest} request
     * @param {EntityChangesExperimentalClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.entityChangesExperimental.getUpdatedEntityInfo({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         type: ["TIME_ENTRY"],
     *         start: "2024-10-29T10:00:00Z",
     *         end: "2024-11-28T10:00:00Z"
     *     })
     */
    public getUpdatedEntityInfo(
        request: ClockifyApi.GetUpdatedEntityInfoRequest,
        requestOptions?: EntityChangesExperimentalClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getUpdatedEntityInfo(request, requestOptions));
    }

    private async __getUpdatedEntityInfo(
        request: ClockifyApi.GetUpdatedEntityInfoRequest,
        requestOptions?: EntityChangesExperimentalClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { workspaceId, type: type_, start, end, page, limit } = request;
        const _queryParams: Record<string, unknown> = {
            type: type_,
            start,
            end,
            page,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/entities/updated`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/entities/updated",
        );
    }
}
