// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace InvoiceSettingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InvoiceSettingsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InvoiceSettingsClient.Options>;

    constructor(options: InvoiceSettingsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The source Markdown labels this operation as “Get an invoice in another language” and exposes it on the invoice settings endpoint.
     *
     * @param {ClockifyApi.GetInvoiceSettingsRequest} request
     * @param {InvoiceSettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoiceSettings.getInvoiceSettings({
     *         workspaceId: "workspaceId"
     *     })
     */
    public getInvoiceSettings(
        request: ClockifyApi.GetInvoiceSettingsRequest,
        requestOptions?: InvoiceSettingsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceSettingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getInvoiceSettings(request, requestOptions));
    }

    private async __getInvoiceSettings(
        request: ClockifyApi.GetInvoiceSettingsRequest,
        requestOptions?: InvoiceSettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceSettingsResponse>> {
        const { workspaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/settings`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceSettingsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/invoices/settings",
        );
    }

    /**
     * @param {ClockifyApi.InvoiceSettingsRequest} request
     * @param {InvoiceSettingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoiceSettings.updateInvoiceSettings({
     *         workspaceId: "workspaceId",
     *         defaults: {
     *             notes: "notes",
     *             subject: "subject"
     *         },
     *         labels: {
     *             amount: "amount",
     *             billFrom: "billFrom",
     *             billTo: "billTo",
     *             description: "description",
     *             discount: "discount",
     *             dueDate: "dueDate",
     *             issueDate: "issueDate",
     *             itemType: "itemType",
     *             notes: "notes",
     *             paid: "paid",
     *             quantity: "quantity",
     *             subtotal: "subtotal",
     *             tax: "tax",
     *             tax2: "tax2",
     *             total: "total",
     *             totalAmountDue: "totalAmountDue",
     *             unitPrice: "unitPrice"
     *         }
     *     })
     */
    public updateInvoiceSettings(
        request: ClockifyApi.InvoiceSettingsRequest,
        requestOptions?: InvoiceSettingsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__updateInvoiceSettings(request, requestOptions));
    }

    private async __updateInvoiceSettings(
        request: ClockifyApi.InvoiceSettingsRequest,
        requestOptions?: InvoiceSettingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/settings`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/invoices/settings",
        );
    }
}
