// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ClockifyApi from "../../../index.js";

export declare namespace UserGroupsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UserGroupsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UserGroupsClient.Options>;

    constructor(options: UserGroupsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.FindAllGroupsOnWorkspaceRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.userGroups.findAllGroupsOnWorkspace({
     *         workspaceId: "workspaceId"
     *     })
     */
    public findAllGroupsOnWorkspace(
        request: ClockifyApi.FindAllGroupsOnWorkspaceRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.UserGroupDtoV1[]> {
        return core.HttpResponsePromise.fromPromise(this.__findAllGroupsOnWorkspace(request, requestOptions));
    }

    private async __findAllGroupsOnWorkspace(
        request: ClockifyApi.FindAllGroupsOnWorkspaceRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.UserGroupDtoV1[]>> {
        const { workspaceId, page, "page-size": pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            "page-size": pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/user-groups`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.UserGroupDtoV1[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/user-groups",
        );
    }

    /**
     * @param {ClockifyApi.AddNewGroupRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.userGroups.addNewGroup({
     *         workspaceId: "workspaceId",
     *         body: {
     *             name: "development_team"
     *         }
     *     })
     */
    public addNewGroup(
        request: ClockifyApi.AddNewGroupRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.UserGroupDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__addNewGroup(request, requestOptions));
    }

    private async __addNewGroup(
        request: ClockifyApi.AddNewGroupRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.UserGroupDtoV1>> {
        const { workspaceId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/user-groups`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.UserGroupDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/user-groups",
        );
    }

    /**
     * NOT SUPPORTED upstream. Returns HTTP 405 with body
     * `{"code":3000,"message":"Request method 'GET' is not supported"}`
     * for BOTH a valid id and a non-existent id. There is no
     * single-resource GET for user-groups.
     *
     * @param {ClockifyApi.GetWorkspacesWorkspaceIdUserGroupsGroupIdRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.MethodNotAllowedError}
     *
     * @example
     *     await client.userGroups.getWorkspacesWorkspaceIdUserGroupsGroupId({
     *         workspaceId: "workspaceId",
     *         groupId: "groupId"
     *     })
     */
    public getWorkspacesWorkspaceIdUserGroupsGroupId(
        request: ClockifyApi.GetWorkspacesWorkspaceIdUserGroupsGroupIdRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(
            this.__getWorkspacesWorkspaceIdUserGroupsGroupId(request, requestOptions),
        );
    }

    private async __getWorkspacesWorkspaceIdUserGroupsGroupId(
        request: ClockifyApi.GetWorkspacesWorkspaceIdUserGroupsGroupIdRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, groupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/user-groups/${core.url.encodePathParam(groupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 405:
                    throw new ClockifyApi.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/user-groups/{groupId}",
        );
    }

    /**
     * @param {ClockifyApi.UpdateGroupRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.userGroups.updateGroup({
     *         workspaceId: "workspaceId",
     *         groupId: "groupId",
     *         body: {
     *             name: "development_team"
     *         }
     *     })
     */
    public updateGroup(
        request: ClockifyApi.UpdateGroupRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.UserGroupDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__updateGroup(request, requestOptions));
    }

    private async __updateGroup(
        request: ClockifyApi.UpdateGroupRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.UserGroupDtoV1>> {
        const { workspaceId, groupId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/user-groups/${core.url.encodePathParam(groupId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.UserGroupDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/user-groups/{groupId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteGroupRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.userGroups.deleteGroup({
     *         workspaceId: "workspaceId",
     *         groupId: "groupId"
     *     })
     */
    public deleteGroup(
        request: ClockifyApi.DeleteGroupRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.UserGroupDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__deleteGroup(request, requestOptions));
    }

    private async __deleteGroup(
        request: ClockifyApi.DeleteGroupRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.UserGroupDtoV1>> {
        const { workspaceId, groupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/user-groups/${core.url.encodePathParam(groupId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.UserGroupDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/user-groups/{groupId}",
        );
    }

    /**
     * Probed; returns HTTP 405 (`code:3000, "Request method 'GET' is
     * not supported"`). To enumerate members of a user-group, use
     * `GET /workspaces/{workspaceId}/users?user-groups={groupId}`
     * (verified 200, returns full User objects).
     *
     * @param {ClockifyApi.GetWorkspacesWorkspaceIdUserGroupsGroupIdUsersRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.MethodNotAllowedError}
     *
     * @example
     *     await client.userGroups.getWorkspacesWorkspaceIdUserGroupsGroupIdUsers({
     *         workspaceId: "workspaceId",
     *         groupId: "groupId"
     *     })
     */
    public getWorkspacesWorkspaceIdUserGroupsGroupIdUsers(
        request: ClockifyApi.GetWorkspacesWorkspaceIdUserGroupsGroupIdUsersRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(
            this.__getWorkspacesWorkspaceIdUserGroupsGroupIdUsers(request, requestOptions),
        );
    }

    private async __getWorkspacesWorkspaceIdUserGroupsGroupIdUsers(
        request: ClockifyApi.GetWorkspacesWorkspaceIdUserGroupsGroupIdUsersRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, groupId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/user-groups/${core.url.encodePathParam(groupId)}/users`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 405:
                    throw new ClockifyApi.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/user-groups/{groupId}/users",
        );
    }

    /**
     * @param {ClockifyApi.AddUserToGroupRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.userGroups.addUsersToGroup({
     *         workspaceId: "workspaceId",
     *         groupId: "groupId",
     *         userId: "5a0ab5acb07987125438b60f"
     *     })
     */
    public addUsersToGroup(
        request: ClockifyApi.AddUserToGroupRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.UserGroupDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__addUsersToGroup(request, requestOptions));
    }

    private async __addUsersToGroup(
        request: ClockifyApi.AddUserToGroupRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.UserGroupDtoV1>> {
        const { workspaceId, groupId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/user-groups/${core.url.encodePathParam(groupId)}/users`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.UserGroupDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/user-groups/{groupId}/users",
        );
    }

    /**
     * @param {ClockifyApi.RemoveUserFromGroupRequest} request
     * @param {UserGroupsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.userGroups.removeUserFromGroup({
     *         workspaceId: "workspaceId",
     *         groupId: "groupId",
     *         userId: "userId"
     *     })
     */
    public removeUserFromGroup(
        request: ClockifyApi.RemoveUserFromGroupRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.UserGroupDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__removeUserFromGroup(request, requestOptions));
    }

    private async __removeUserFromGroup(
        request: ClockifyApi.RemoveUserFromGroupRequest,
        requestOptions?: UserGroupsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.UserGroupDtoV1>> {
        const { workspaceId, groupId, userId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/user-groups/${core.url.encodePathParam(groupId)}/users/${core.url.encodePathParam(userId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.UserGroupDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/user-groups/{groupId}/users/{userId}",
        );
    }
}
