// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace AuditLogReportClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuditLogReportClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuditLogReportClient.Options>;

    constructor(options: AuditLogReportClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Searches audit log entries on Clockify's dedicated audit-log host.
     * Prior evidence showed GET returns 405; use POST with a JSON body.
     * MCP has no typed tool mapping yet, and this host should not be exposed
     * through the generic raw fallback without an explicit host-routing design.
     *
     * @param {ClockifyApi.AuditLogRequest} request
     * @param {AuditLogReportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.auditLogReport.searchAuditLogs({
     *         workspaceId: "workspaceId",
     *         actions: ["CREATE_PROJECT", "UPDATE_PROJECT"],
     *         authors: {},
     *         end: "2026-05-15T23:59:59Z",
     *         start: "2026-05-14T00:00:00Z"
     *     })
     */
    public searchAuditLogs(
        request: ClockifyApi.AuditLogRequest,
        requestOptions?: AuditLogReportClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.AuditLogResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchAuditLogs(request, requestOptions));
    }

    private async __searchAuditLogs(
        request: ClockifyApi.AuditLogRequest,
        requestOptions?: AuditLogReportClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.AuditLogResponse>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/audit-log`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.AuditLogResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/audit-log",
        );
    }
}
