// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace HolidaysClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class HolidaysClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HolidaysClient.Options>;

    constructor(options: HolidaysClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.GetWorkspaceHolidaysRequest} request
     * @param {HolidaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.holidays.getWorkspaceHolidays({
     *         workspaceId: "workspaceId",
     *         "assigned-to": "60f924bafdaf031696ec6218"
     *     })
     */
    public getWorkspaceHolidays(
        request: ClockifyApi.GetWorkspaceHolidaysRequest,
        requestOptions?: HolidaysClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.HolidayDto[]> {
        return core.HttpResponsePromise.fromPromise(this.__getWorkspaceHolidays(request, requestOptions));
    }

    private async __getWorkspaceHolidays(
        request: ClockifyApi.GetWorkspaceHolidaysRequest,
        requestOptions?: HolidaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.HolidayDto[]>> {
        const { workspaceId, "assigned-to": assignedTo, page, "page-size": pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            "assigned-to": assignedTo,
            page,
            "page-size": pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/holidays`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.HolidayDto[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/holidays",
        );
    }

    /**
     * @param {ClockifyApi.CreateHolidayRequest} request
     * @param {HolidaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.holidays.createHoliday({
     *         workspaceId: "workspaceId",
     *         automaticTimeEntryCreation: {
     *             defaultEntities: {
     *                 projectId: "65b36d3c525e243c48f9150f",
     *                 taskId: "65b36d46fa3df8607e42d21a"
     *             },
     *             enabled: false
     *         },
     *         color: "#8BC34A",
     *         datePeriod: {
     *             endDate: "2024-05-01",
     *             startDate: "2024-05-01"
     *         },
     *         everyoneIncludingNew: true,
     *         name: "Labour Day",
     *         occursAnnually: true,
     *         userGroups: {
     *             contains: "CONTAINS",
     *             ids: ["5b715612b079875110791342"],
     *             status: "ACTIVE"
     *         },
     *         users: {
     *             contains: "CONTAINS",
     *             ids: ["5b715612b079875110791432"],
     *             status: "ACTIVE"
     *         }
     *     })
     */
    public createHoliday(
        request: ClockifyApi.CreateHolidayRequest,
        requestOptions?: HolidaysClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.HolidayDto> {
        return core.HttpResponsePromise.fromPromise(this.__createHoliday(request, requestOptions));
    }

    private async __createHoliday(
        request: ClockifyApi.CreateHolidayRequest,
        requestOptions?: HolidaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.HolidayDto>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/holidays`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.HolidayDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/holidays",
        );
    }

    /**
     * @param {ClockifyApi.GetWorkspaceHolidaysInPeriodRequest} request
     * @param {HolidaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.holidays.getWorkspaceHolidaysInPeriod({
     *         workspaceId: "workspaceId",
     *         "assigned-to": "60f924bafdaf031696ec6218",
     *         start: "2022-12-03T10:59:59Z",
     *         end: "2022-12-05T23:59:59Z"
     *     })
     */
    public getWorkspaceHolidaysInPeriod(
        request: ClockifyApi.GetWorkspaceHolidaysInPeriodRequest,
        requestOptions?: HolidaysClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.HolidayDto[]> {
        return core.HttpResponsePromise.fromPromise(this.__getWorkspaceHolidaysInPeriod(request, requestOptions));
    }

    private async __getWorkspaceHolidaysInPeriod(
        request: ClockifyApi.GetWorkspaceHolidaysInPeriodRequest,
        requestOptions?: HolidaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.HolidayDto[]>> {
        const { workspaceId, "assigned-to": assignedTo, start, end } = request;
        const _queryParams: Record<string, unknown> = {
            "assigned-to": assignedTo,
            start,
            end,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/holidays/in-period`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.HolidayDto[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/holidays/in-period",
        );
    }

    /**
     * @param {ClockifyApi.UpdateHolidayRequest} request
     * @param {HolidaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.holidays.updateHoliday({
     *         workspaceId: "workspaceId",
     *         holidayId: "holidayId",
     *         automaticTimeEntryCreation: {
     *             defaultEntities: {
     *                 projectId: "65b36d3c525e243c48f9150f",
     *                 taskId: "65b36d46fa3df8607e42d21a"
     *             },
     *             enabled: false
     *         },
     *         color: "#8BC34A",
     *         datePeriod: {
     *             endDate: "2024-01-01",
     *             startDate: "2024-01-01"
     *         },
     *         everyoneIncludingNew: false,
     *         name: "New Year's Day",
     *         occursAnnually: true,
     *         userGroups: {
     *             contains: "CONTAINS",
     *             ids: ["5b715612b079875110791342"],
     *             status: "ACTIVE"
     *         },
     *         users: {
     *             contains: "CONTAINS",
     *             ids: ["5b715612b079875110791432"],
     *             status: "ACTIVE"
     *         }
     *     })
     */
    public updateHoliday(
        request: ClockifyApi.UpdateHolidayRequest,
        requestOptions?: HolidaysClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.HolidayDto> {
        return core.HttpResponsePromise.fromPromise(this.__updateHoliday(request, requestOptions));
    }

    private async __updateHoliday(
        request: ClockifyApi.UpdateHolidayRequest,
        requestOptions?: HolidaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.HolidayDto>> {
        const { workspaceId, holidayId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/holidays/${core.url.encodePathParam(holidayId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.HolidayDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/holidays/{holidayId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteHolidayRequest} request
     * @param {HolidaysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.holidays.deleteHoliday({
     *         workspaceId: "workspaceId",
     *         holidayId: "holidayId"
     *     })
     */
    public deleteHoliday(
        request: ClockifyApi.DeleteHolidayRequest,
        requestOptions?: HolidaysClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.HolidayDetailsDto> {
        return core.HttpResponsePromise.fromPromise(this.__deleteHoliday(request, requestOptions));
    }

    private async __deleteHoliday(
        request: ClockifyApi.DeleteHolidayRequest,
        requestOptions?: HolidaysClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.HolidayDetailsDto>> {
        const { workspaceId, holidayId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/holidays/${core.url.encodePathParam(holidayId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.HolidayDetailsDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/holidays/{holidayId}",
        );
    }
}
