// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ClockifyApi from "../../../index.js";

export declare namespace WebhooksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WebhooksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WebhooksClient.Options>;

    constructor(options: WebhooksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.GetAddonWebhooksOnWorkspaceRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.getAddonWebhooksOnWorkspace({
     *         workspaceId: "workspaceId",
     *         addonId: "addonId"
     *     })
     */
    public getAddonWebhooksOnWorkspace(
        request: ClockifyApi.GetAddonWebhooksOnWorkspaceRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.WebhookCollectionDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__getAddonWebhooksOnWorkspace(request, requestOptions));
    }

    private async __getAddonWebhooksOnWorkspace(
        request: ClockifyApi.GetAddonWebhooksOnWorkspaceRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.WebhookCollectionDtoV1>> {
        const { workspaceId, addonId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/addons/${core.url.encodePathParam(addonId)}/webhooks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.WebhookCollectionDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/addons/{addonId}/webhooks",
        );
    }

    /**
     * @param {ClockifyApi.GetWebhooksOnWorkspaceRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.getWebhooksOnWorkspace({
     *         workspaceId: "workspaceId"
     *     })
     */
    public getWebhooksOnWorkspace(
        request: ClockifyApi.GetWebhooksOnWorkspaceRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.WebhookCollectionDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__getWebhooksOnWorkspace(request, requestOptions));
    }

    private async __getWebhooksOnWorkspace(
        request: ClockifyApi.GetWebhooksOnWorkspaceRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.WebhookCollectionDtoV1>> {
        const { workspaceId, type: type_ } = request;
        const _queryParams: Record<string, unknown> = {
            type: type_ != null ? type_ : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/webhooks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.WebhookCollectionDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/webhooks",
        );
    }

    /**
     * Creating a webhook generates a new token which can be used to verify that the webhook being sent was sent by Clockify, as it will always be present in the header.
     *
     * @param {ClockifyApi.CreateWebhookRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.createWebhook({
     *         workspaceId: "workspaceId",
     *         body: {
     *             name: "Stripe",
     *             triggerSource: ["54a687e29ae1f428e7ebe909", "87p187e29ae1f428e7ebej56"],
     *             triggerSourceType: "PROJECT_ID",
     *             url: "https://example-clockify.com/stripeEndpoint",
     *             webhookEvent: "NEW_PROJECT"
     *         }
     *     })
     */
    public createWebhook(
        request: ClockifyApi.CreateWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.WebhookDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__createWebhook(request, requestOptions));
    }

    private async __createWebhook(
        request: ClockifyApi.CreateWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.WebhookDtoV1>> {
        const { workspaceId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/webhooks`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.WebhookDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/webhooks",
        );
    }

    /**
     * @param {ClockifyApi.GetWebhookByIdRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.getWebhookById({
     *         workspaceId: "workspaceId",
     *         webhookId: "webhookId"
     *     })
     */
    public getWebhookById(
        request: ClockifyApi.GetWebhookByIdRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.WebhookDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__getWebhookById(request, requestOptions));
    }

    private async __getWebhookById(
        request: ClockifyApi.GetWebhookByIdRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.WebhookDtoV1>> {
        const { workspaceId, webhookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/webhooks/${core.url.encodePathParam(webhookId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.WebhookDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/webhooks/{webhookId}",
        );
    }

    /**
     * @param {ClockifyApi.UpdateWebhookRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.updateWebhook({
     *         workspaceId: "workspaceId",
     *         webhookId: "webhookId",
     *         body: {
     *             name: "Stripe",
     *             triggerSource: ["54a687e29ae1f428e7ebe909", "87p187e29ae1f428e7ebej56"],
     *             triggerSourceType: "PROJECT_ID",
     *             url: "https://example-clockify.com/stripeEndpoint",
     *             webhookEvent: "NEW_PROJECT"
     *         }
     *     })
     */
    public updateWebhook(
        request: ClockifyApi.UpdateWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.WebhookDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__updateWebhook(request, requestOptions));
    }

    private async __updateWebhook(
        request: ClockifyApi.UpdateWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.WebhookDtoV1>> {
        const { workspaceId, webhookId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/webhooks/${core.url.encodePathParam(webhookId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.WebhookDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/webhooks/{webhookId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteWebhookRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.deleteWebhook({
     *         workspaceId: "workspaceId",
     *         webhookId: "webhookId"
     *     })
     */
    public deleteWebhook(
        request: ClockifyApi.DeleteWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteWebhook(request, requestOptions));
    }

    private async __deleteWebhook(
        request: ClockifyApi.DeleteWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, webhookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/webhooks/${core.url.encodePathParam(webhookId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/webhooks/{webhookId}",
        );
    }

    /**
     * @param {ClockifyApi.PatchWorkspacesWorkspaceIdWebhooksWebhookIdGenerateNewTokenRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.patchWorkspacesWorkspaceIdWebhooksWebhookIdGenerateNewToken({
     *         workspaceId: "workspaceId",
     *         webhookId: "webhookId"
     *     })
     */
    public patchWorkspacesWorkspaceIdWebhooksWebhookIdGenerateNewToken(
        request: ClockifyApi.PatchWorkspacesWorkspaceIdWebhooksWebhookIdGenerateNewTokenRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Webhook> {
        return core.HttpResponsePromise.fromPromise(
            this.__patchWorkspacesWorkspaceIdWebhooksWebhookIdGenerateNewToken(request, requestOptions),
        );
    }

    private async __patchWorkspacesWorkspaceIdWebhooksWebhookIdGenerateNewToken(
        request: ClockifyApi.PatchWorkspacesWorkspaceIdWebhooksWebhookIdGenerateNewTokenRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Webhook>> {
        const { workspaceId, webhookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/webhooks/${core.url.encodePathParam(webhookId)}/generateNewToken`,
            ),
            method: "PATCH",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Webhook, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/webhooks/{webhookId}/generateNewToken",
        );
    }

    /**
     * WEBHOOKDOC.md lists this endpoint. Live response is HTTP 405
     * "Request method 'GET' is not supported" (code 3000) on every
     * variant probed:
     *   - no params
     *   - page=1&size=10
     *   - page=1&size=200
     *   - page=999&size=10
     *   - page=0&size=10
     *   - page=1&size=-1
     * The endpoint either requires a different verb or has been
     * retired. go-clockify should NOT model this as a working GET
     * and any handler that calls it will fail in prod.
     *
     * @param {ClockifyApi.GetWorkspacesWorkspaceIdWebhooksWebhookIdLogsRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.MethodNotAllowedError}
     *
     * @example
     *     await client.webhooks.getWorkspacesWorkspaceIdWebhooksWebhookIdLogs({
     *         workspaceId: "workspaceId",
     *         webhookId: "webhookId"
     *     })
     */
    public getWorkspacesWorkspaceIdWebhooksWebhookIdLogs(
        request: ClockifyApi.GetWorkspacesWorkspaceIdWebhooksWebhookIdLogsRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(
            this.__getWorkspacesWorkspaceIdWebhooksWebhookIdLogs(request, requestOptions),
        );
    }

    private async __getWorkspacesWorkspaceIdWebhooksWebhookIdLogs(
        request: ClockifyApi.GetWorkspacesWorkspaceIdWebhooksWebhookIdLogsRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, webhookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/webhooks/${core.url.encodePathParam(webhookId)}/logs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 405:
                    throw new ClockifyApi.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/webhooks/{webhookId}/logs",
        );
    }

    /**
     * @param {ClockifyApi.WebhookLogsRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.getWebhookLogs({
     *         workspaceId: "workspaceId",
     *         webhookId: "webhookId",
     *         from: "2023-02-01T13:00:46Z",
     *         sortByNewest: false,
     *         status: "ALL",
     *         to: "2023-02-05T13:00:46Z"
     *     })
     */
    public getWebhookLogs(
        request: ClockifyApi.WebhookLogsRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.WebhookLogDtoV1[]> {
        return core.HttpResponsePromise.fromPromise(this.__getWebhookLogs(request, requestOptions));
    }

    private async __getWebhookLogs(
        request: ClockifyApi.WebhookLogsRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.WebhookLogDtoV1[]>> {
        const { workspaceId, webhookId, page, size, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            size,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/webhooks/${core.url.encodePathParam(webhookId)}/logs`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.WebhookLogDtoV1[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/webhooks/{webhookId}/logs",
        );
    }

    /**
     * Verb is **PATCH only**. PUT to the same path returns
     * `{"message":"Request method 'PUT' is not supported","code":3000}`.
     * Request body is empty. Response is the full webhook with a
     * rotated `authToken`; the previous token is invalidated.
     *
     * @param {ClockifyApi.PatchWorkspacesWorkspaceIdWebhooksWebhookIdTokenRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.MethodNotAllowedError}
     *
     * @example
     *     await client.webhooks.patchWorkspacesWorkspaceIdWebhooksWebhookIdToken({
     *         workspaceId: "workspaceId",
     *         webhookId: "webhookId"
     *     })
     */
    public patchWorkspacesWorkspaceIdWebhooksWebhookIdToken(
        request: ClockifyApi.PatchWorkspacesWorkspaceIdWebhooksWebhookIdTokenRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.WebhooksWebhook2> {
        return core.HttpResponsePromise.fromPromise(
            this.__patchWorkspacesWorkspaceIdWebhooksWebhookIdToken(request, requestOptions),
        );
    }

    private async __patchWorkspacesWorkspaceIdWebhooksWebhookIdToken(
        request: ClockifyApi.PatchWorkspacesWorkspaceIdWebhooksWebhookIdTokenRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.WebhooksWebhook2>> {
        const { workspaceId, webhookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/webhooks/${core.url.encodePathParam(webhookId)}/token`,
            ),
            method: "PATCH",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.WebhooksWebhook2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 405:
                    throw new ClockifyApi.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/webhooks/{webhookId}/token",
        );
    }
}
