// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace InvoicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InvoicesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InvoicesClient.Options>;

    constructor(options: InvoicesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.GetWorkspaceInvoicesRequest} request
     * @param {InvoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoices.getWorkspaceInvoices({
     *         workspaceId: "workspaceId"
     *     })
     */
    public getWorkspaceInvoices(
        request: ClockifyApi.GetWorkspaceInvoicesRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getWorkspaceInvoices(request, requestOptions));
    }

    private async __getWorkspaceInvoices(
        request: ClockifyApi.GetWorkspaceInvoicesRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceListResponse>> {
        const { workspaceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/invoices",
        );
    }

    /**
     * @param {ClockifyApi.InvoiceCreateRequest} request
     * @param {InvoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoices.addInvoice({
     *         workspaceId: "workspaceId",
     *         clientId: "34p687e29ae1f428e7ebe562",
     *         currency: "USD",
     *         dueDate: "2020-06-01T08:00:00Z",
     *         issuedDate: "2020-01-01T08:00:00Z",
     *         number: "202306121129",
     *         timeViewMode: "AGGREGATED_TIME_VIEW"
     *     })
     */
    public addInvoice(
        request: ClockifyApi.InvoiceCreateRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__addInvoice(request, requestOptions));
    }

    private async __addInvoice(
        request: ClockifyApi.InvoiceCreateRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceCreateResponse>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceCreateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/invoices",
        );
    }

    /**
     * @param {ClockifyApi.InvoiceFilterRequest} request
     * @param {InvoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoices.filterInvoices({
     *         workspaceId: "workspaceId",
     *         clients: {
     *             contains: "CONTAINS",
     *             ids: ["44a687e29ae1f428e7ebe305"],
     *             status: "ACTIVE"
     *         },
     *         companies: {
     *             contains: "CONTAINS",
     *             ids: ["04g687e29ae1f428e7ebe123"]
     *         },
     *         exactAmount: 1000,
     *         exactBalance: 1000,
     *         greaterThanAmount: 500,
     *         greaterThanBalance: 500,
     *         invoiceNumber: "Invoice-01",
     *         issueDate: {
     *             "issue-date-end": "2024-12-31",
     *             "issue-date-start": "2024-01-01"
     *         },
     *         lessThanAmount: 500,
     *         lessThanBalance: 500,
     *         page: 1,
     *         pageSize: 50,
     *         sortColumn: "ID",
     *         sortOrder: "ASCENDING",
     *         statuses: ["SENT", "PAID", "PARTIALLY_PAID"],
     *         strictSearch: false
     *     })
     */
    public filterInvoices(
        request: ClockifyApi.InvoiceFilterRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceInfoListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__filterInvoices(request, requestOptions));
    }

    private async __filterInvoices(
        request: ClockifyApi.InvoiceFilterRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceInfoListResponse>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/info`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceInfoListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/invoices/info",
        );
    }

    /**
     * @param {ClockifyApi.GetInvoiceByIdRequest} request
     * @param {InvoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoices.getInvoiceById({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId"
     *     })
     */
    public getInvoiceById(
        request: ClockifyApi.GetInvoiceByIdRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceDtoFull> {
        return core.HttpResponsePromise.fromPromise(this.__getInvoiceById(request, requestOptions));
    }

    private async __getInvoiceById(
        request: ClockifyApi.GetInvoiceByIdRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceDtoFull>> {
        const { workspaceId, invoiceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceDtoFull, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/invoices/{invoiceId}",
        );
    }

    /**
     * @param {ClockifyApi.UpdateInvoiceRequest} request
     * @param {InvoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoices.updateInvoice({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId",
     *         clientId: "98h687e29ae1f428e7ebe707",
     *         companyId: "04g687e29ae1f428e7ebe123",
     *         currency: "USD",
     *         discountPercent: 10.5,
     *         dueDate: "2020-06-01T08:00:00Z",
     *         issuedDate: "2020-01-01T08:00:00Z",
     *         note: "This is a sample note for this invoice.",
     *         number: "202306121129",
     *         subject: "January salary",
     *         tax2Percent: 0,
     *         taxPercent: 1.5,
     *         taxType: "SIMPLE",
     *         visibleZeroFields: ["TAX", "TAX_2", "DISCOUNT"]
     *     })
     */
    public updateInvoice(
        request: ClockifyApi.UpdateInvoiceRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceDtoFull> {
        return core.HttpResponsePromise.fromPromise(this.__updateInvoice(request, requestOptions));
    }

    private async __updateInvoice(
        request: ClockifyApi.UpdateInvoiceRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceDtoFull>> {
        const { workspaceId, invoiceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceDtoFull, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/invoices/{invoiceId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteInvoiceRequest} request
     * @param {InvoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoices.deleteInvoice({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId"
     *     })
     */
    public deleteInvoice(
        request: ClockifyApi.DeleteInvoiceRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteInvoice(request, requestOptions));
    }

    private async __deleteInvoice(
        request: ClockifyApi.DeleteInvoiceRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, invoiceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/invoices/{invoiceId}",
        );
    }

    /**
     * @param {ClockifyApi.DuplicateInvoiceRequest} request
     * @param {InvoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoices.duplicateInvoice({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId"
     *     })
     */
    public duplicateInvoice(
        request: ClockifyApi.DuplicateInvoiceRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceDtoFull> {
        return core.HttpResponsePromise.fromPromise(this.__duplicateInvoice(request, requestOptions));
    }

    private async __duplicateInvoice(
        request: ClockifyApi.DuplicateInvoiceRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceDtoFull>> {
        const { workspaceId, invoiceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}/duplicate`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceDtoFull, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/invoices/{invoiceId}/duplicate",
        );
    }

    public exportInvoice(
        request: ClockifyApi.ExportInvoiceRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__exportInvoice(request, requestOptions));
    }

    private async __exportInvoice(
        request: ClockifyApi.ExportInvoiceRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { workspaceId, invoiceId, userLocale } = request;
        const _queryParams: Record<string, unknown> = {
            userLocale,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}/export`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/invoices/{invoiceId}/export",
        );
    }

    /**
     * @param {ClockifyApi.InvoiceStatusRequest} request
     * @param {InvoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoices.changeInvoiceStatus({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId",
     *         invoiceStatus: "PAID"
     *     })
     */
    public changeInvoiceStatus(
        request: ClockifyApi.InvoiceStatusRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__changeInvoiceStatus(request, requestOptions));
    }

    private async __changeInvoiceStatus(
        request: ClockifyApi.InvoiceStatusRequest,
        requestOptions?: InvoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, invoiceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}/status`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/invoices/{invoiceId}/status",
        );
    }
}
