// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace TagsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TagsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TagsClient.Options>;

    constructor(options: TagsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.GetWorkspacesWorkspaceIdTagsRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tags.getWorkspacesWorkspaceIdTags({
     *         workspaceId: "workspaceId"
     *     })
     */
    public getWorkspacesWorkspaceIdTags(
        request: ClockifyApi.GetWorkspacesWorkspaceIdTagsRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Tag[]> {
        return core.HttpResponsePromise.fromPromise(this.__getWorkspacesWorkspaceIdTags(request, requestOptions));
    }

    private async __getWorkspacesWorkspaceIdTags(
        request: ClockifyApi.GetWorkspacesWorkspaceIdTagsRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Tag[]>> {
        const {
            workspaceId,
            name,
            archived,
            "sort-column": sortColumn,
            "sort-order": sortOrder,
            page,
            "page-size": pageSize,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            archived,
            "sort-column": sortColumn != null ? sortColumn : undefined,
            "sort-order": sortOrder != null ? sortOrder : undefined,
            page,
            "page-size": pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/tags`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Tag[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/tags",
        );
    }

    /**
     * @param {ClockifyApi.TagCreate} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tags.postWorkspacesWorkspaceIdTags({
     *         workspaceId: "workspaceId",
     *         name: "name"
     *     })
     */
    public postWorkspacesWorkspaceIdTags(
        request: ClockifyApi.TagCreate,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Tag> {
        return core.HttpResponsePromise.fromPromise(this.__postWorkspacesWorkspaceIdTags(request, requestOptions));
    }

    private async __postWorkspacesWorkspaceIdTags(
        request: ClockifyApi.TagCreate,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Tag>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/tags`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Tag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/tags",
        );
    }

    /**
     * @param {ClockifyApi.GetWorkspacesWorkspaceIdTagsTagIdRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tags.getWorkspacesWorkspaceIdTagsTagId({
     *         workspaceId: "workspaceId",
     *         tagId: "tagId"
     *     })
     */
    public getWorkspacesWorkspaceIdTagsTagId(
        request: ClockifyApi.GetWorkspacesWorkspaceIdTagsTagIdRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Tag> {
        return core.HttpResponsePromise.fromPromise(this.__getWorkspacesWorkspaceIdTagsTagId(request, requestOptions));
    }

    private async __getWorkspacesWorkspaceIdTagsTagId(
        request: ClockifyApi.GetWorkspacesWorkspaceIdTagsTagIdRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Tag>> {
        const { workspaceId, tagId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/tags/${core.url.encodePathParam(tagId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Tag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/tags/{tagId}",
        );
    }

    /**
     * @param {ClockifyApi.PutWorkspacesWorkspaceIdTagsTagIdRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tags.putWorkspacesWorkspaceIdTagsTagId({
     *         workspaceId: "workspaceId",
     *         tagId: "tagId"
     *     })
     */
    public putWorkspacesWorkspaceIdTagsTagId(
        request: ClockifyApi.PutWorkspacesWorkspaceIdTagsTagIdRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.Tag> {
        return core.HttpResponsePromise.fromPromise(this.__putWorkspacesWorkspaceIdTagsTagId(request, requestOptions));
    }

    private async __putWorkspacesWorkspaceIdTagsTagId(
        request: ClockifyApi.PutWorkspacesWorkspaceIdTagsTagIdRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.Tag>> {
        const { workspaceId, tagId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/tags/${core.url.encodePathParam(tagId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.Tag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/tags/{tagId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteWorkspacesWorkspaceIdTagsTagIdRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.tags.deleteWorkspacesWorkspaceIdTagsTagId({
     *         workspaceId: "workspaceId",
     *         tagId: "tagId"
     *     })
     */
    public deleteWorkspacesWorkspaceIdTagsTagId(
        request: ClockifyApi.DeleteWorkspacesWorkspaceIdTagsTagIdRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(
            this.__deleteWorkspacesWorkspaceIdTagsTagId(request, requestOptions),
        );
    }

    private async __deleteWorkspacesWorkspaceIdTagsTagId(
        request: ClockifyApi.DeleteWorkspacesWorkspaceIdTagsTagIdRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, tagId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/tags/${core.url.encodePathParam(tagId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/tags/{tagId}",
        );
    }
}
