// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ClockifyApi from "../../../index.js";

export declare namespace CustomFieldsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomFieldsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomFieldsClient.Options>;

    constructor(options: CustomFieldsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns custom fields on a workspace, optionally filtered by name, status, and entity type.
     *
     * @param {ClockifyApi.ListWorkspaceCustomFieldsRequest} request
     * @param {CustomFieldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.UnauthorizedError}
     *
     * @example
     *     await client.customFields.listWorkspaceCustomFields({
     *         workspaceId: "64a687e29ae1f428e7ebe303"
     *     })
     */
    public listWorkspaceCustomFields(
        request: ClockifyApi.ListWorkspaceCustomFieldsRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.CustomField[]> {
        return core.HttpResponsePromise.fromPromise(this.__listWorkspaceCustomFields(request, requestOptions));
    }

    private async __listWorkspaceCustomFields(
        request: ClockifyApi.ListWorkspaceCustomFieldsRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.CustomField[]>> {
        const { workspaceId, page, "page-size": pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            "page-size": pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/custom-fields`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.CustomField[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/custom-fields",
        );
    }

    /**
     * Creates a custom field on a workspace.
     *
     * @param {ClockifyApi.CreateCustomFieldRequest} request
     * @param {CustomFieldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.UnauthorizedError}
     *
     * @example
     *     await client.customFields.createWorkspaceCustomField({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         allowedValues: ["New York", "London", "Manila", "Sydney", "Belgrade"],
     *         description: "This field contains a location.",
     *         entityType: "USER",
     *         name: "location",
     *         onlyAdminCanEdit: false,
     *         placeholder: "Location",
     *         status: "VISIBLE",
     *         type: "DROPDOWN_MULTIPLE",
     *         workspaceDefaultValue: ["Manila"]
     *     })
     */
    public createWorkspaceCustomField(
        request: ClockifyApi.CreateCustomFieldRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.CustomField> {
        return core.HttpResponsePromise.fromPromise(this.__createWorkspaceCustomField(request, requestOptions));
    }

    private async __createWorkspaceCustomField(
        request: ClockifyApi.CreateCustomFieldRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.CustomField>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/custom-fields`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.CustomField, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/custom-fields",
        );
    }

    /**
     * Updates a custom field on a workspace.
     *
     * @param {ClockifyApi.UpdateCustomFieldRequest} request
     * @param {CustomFieldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.UnauthorizedError}
     * @throws {@link ClockifyApi.NotFoundError}
     *
     * @example
     *     await client.customFields.updateWorkspaceCustomField({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         customFieldId: "customFieldId",
     *         allowedValues: ["New York", "London", "Manila", "Sydney", "Belgrade"],
     *         description: "This field contains a location.",
     *         name: "location",
     *         onlyAdminCanEdit: false,
     *         placeholder: "Location",
     *         required: false,
     *         status: "VISIBLE",
     *         type: "DROPDOWN_MULTIPLE",
     *         workspaceDefaultValue: ["Manila"]
     *     })
     */
    public updateWorkspaceCustomField(
        request: ClockifyApi.UpdateCustomFieldRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.CustomField> {
        return core.HttpResponsePromise.fromPromise(this.__updateWorkspaceCustomField(request, requestOptions));
    }

    private async __updateWorkspaceCustomField(
        request: ClockifyApi.UpdateCustomFieldRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.CustomField>> {
        const { workspaceId, customFieldId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/custom-fields/${core.url.encodePathParam(customFieldId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.CustomField, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ClockifyApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/custom-fields/{customFieldId}",
        );
    }

    /**
     * Deletes a custom field from a workspace.
     *
     * @param {ClockifyApi.DeleteWorkspaceCustomFieldRequest} request
     * @param {CustomFieldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.UnauthorizedError}
     * @throws {@link ClockifyApi.NotFoundError}
     *
     * @example
     *     await client.customFields.deleteWorkspaceCustomField({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         customFieldId: "customFieldId"
     *     })
     */
    public deleteWorkspaceCustomField(
        request: ClockifyApi.DeleteWorkspaceCustomFieldRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteWorkspaceCustomField(request, requestOptions));
    }

    private async __deleteWorkspaceCustomField(
        request: ClockifyApi.DeleteWorkspaceCustomFieldRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, customFieldId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/custom-fields/${core.url.encodePathParam(customFieldId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ClockifyApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/custom-fields/{customFieldId}",
        );
    }

    /**
     * Returns custom fields on a project, optionally filtered by status and entity type.
     *
     * @param {ClockifyApi.ListProjectCustomFieldsRequest} request
     * @param {CustomFieldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.UnauthorizedError}
     * @throws {@link ClockifyApi.NotFoundError}
     *
     * @example
     *     await client.customFields.listProjectCustomFields({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         projectId: "projectId"
     *     })
     */
    public listProjectCustomFields(
        request: ClockifyApi.ListProjectCustomFieldsRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.CustomField[]> {
        return core.HttpResponsePromise.fromPromise(this.__listProjectCustomFields(request, requestOptions));
    }

    private async __listProjectCustomFields(
        request: ClockifyApi.ListProjectCustomFieldsRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.CustomField[]>> {
        const { workspaceId, projectId, page, "page-size": pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            "page-size": pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/custom-fields`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.CustomField[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ClockifyApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/projects/{projectId}/custom-fields",
        );
    }

    /**
     * Removes a custom field from a project and returns the custom field.
     *
     * @param {ClockifyApi.RemoveProjectCustomFieldRequest} request
     * @param {CustomFieldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.UnauthorizedError}
     * @throws {@link ClockifyApi.NotFoundError}
     *
     * @example
     *     await client.customFields.removeProjectCustomField({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         projectId: "projectId",
     *         customFieldId: "customFieldId"
     *     })
     */
    public removeProjectCustomField(
        request: ClockifyApi.RemoveProjectCustomFieldRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.CustomField> {
        return core.HttpResponsePromise.fromPromise(this.__removeProjectCustomField(request, requestOptions));
    }

    private async __removeProjectCustomField(
        request: ClockifyApi.RemoveProjectCustomFieldRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.CustomField>> {
        const { workspaceId, projectId, customFieldId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/custom-fields/${core.url.encodePathParam(customFieldId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.CustomField, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ClockifyApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/projects/{projectId}/custom-fields/{customFieldId}",
        );
    }

    /**
     * Updates a custom field's default value and/or status on a project.
     *
     * @param {ClockifyApi.UpdateProjectCustomFieldRequest} request
     * @param {CustomFieldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.UnauthorizedError}
     * @throws {@link ClockifyApi.NotFoundError}
     *
     * @example
     *     await client.customFields.updateProjectCustomField({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         projectId: "projectId",
     *         customFieldId: "customFieldId",
     *         defaultValue: "Manila",
     *         status: "VISIBLE"
     *     })
     */
    public updateProjectCustomField(
        request: ClockifyApi.UpdateProjectCustomFieldRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.CustomField> {
        return core.HttpResponsePromise.fromPromise(this.__updateProjectCustomField(request, requestOptions));
    }

    private async __updateProjectCustomField(
        request: ClockifyApi.UpdateProjectCustomFieldRequest,
        requestOptions?: CustomFieldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.CustomField>> {
        const { workspaceId, projectId, customFieldId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/projects/${core.url.encodePathParam(projectId)}/custom-fields/${core.url.encodePathParam(customFieldId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.CustomField, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ClockifyApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/projects/{projectId}/custom-fields/{customFieldId}",
        );
    }
}
