// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace InvoicePaymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InvoicePaymentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InvoicePaymentsClient.Options>;

    constructor(options: InvoicePaymentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.ListInvoicePaymentsRequest} request
     * @param {InvoicePaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoicePayments.list({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId"
     *     })
     */
    public list(
        request: ClockifyApi.ListInvoicePaymentsRequest,
        requestOptions?: InvoicePaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoicePaymentDto[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ClockifyApi.ListInvoicePaymentsRequest,
        requestOptions?: InvoicePaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoicePaymentDto[]>> {
        const { workspaceId, invoiceId, page, "page-size": pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            "page-size": pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}/payments`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoicePaymentDto[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/invoices/{invoiceId}/payments",
        );
    }

    /**
     * @param {ClockifyApi.AddInvoicePaymentRequest} request
     * @param {InvoicePaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoicePayments.create({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId",
     *         amount: 100,
     *         note: "This is a sample note for this invoice payment.",
     *         paymentDate: "2021-01-01T12:00:00Z"
     *     })
     */
    public create(
        request: ClockifyApi.AddInvoicePaymentRequest,
        requestOptions?: InvoicePaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceDtoFull> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: ClockifyApi.AddInvoicePaymentRequest,
        requestOptions?: InvoicePaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceDtoFull>> {
        const { workspaceId, invoiceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}/payments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceDtoFull, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/invoices/{invoiceId}/payments",
        );
    }

    /**
     * @param {ClockifyApi.DeleteInvoicePaymentsRequest} request
     * @param {InvoicePaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.invoicePayments.delete({
     *         workspaceId: "workspaceId",
     *         invoiceId: "invoiceId",
     *         paymentId: "paymentId"
     *     })
     */
    public delete(
        request: ClockifyApi.DeleteInvoicePaymentsRequest,
        requestOptions?: InvoicePaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.InvoiceDtoFull> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: ClockifyApi.DeleteInvoicePaymentsRequest,
        requestOptions?: InvoicePaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.InvoiceDtoFull>> {
        const { workspaceId, invoiceId, paymentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/invoices/${core.url.encodePathParam(invoiceId)}/payments/${core.url.encodePathParam(paymentId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.InvoiceDtoFull, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/invoices/{invoiceId}/payments/{paymentId}",
        );
    }
}
