// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace ApprovalsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ApprovalsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ApprovalsClient.Options>;

    constructor(options: ApprovalsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.GetApprovalRequestsRequest} request
     * @param {ApprovalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.approvals.getApprovalRequests({
     *         workspaceId: "64a687e29ae1f428e7ebe303"
     *     })
     */
    public getApprovalRequests(
        request: ClockifyApi.GetApprovalRequestsRequest,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ApprovalRequestListItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getApprovalRequests(request, requestOptions));
    }

    private async __getApprovalRequests(
        request: ClockifyApi.GetApprovalRequestsRequest,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ApprovalRequestListItem[]>> {
        const { workspaceId, status, "sort-column": sortColumn, page, "page-size": pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            "sort-column": sortColumn != null ? sortColumn : undefined,
            page,
            "page-size": pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/approval-requests`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ClockifyApi.ApprovalRequestListItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/approval-requests",
        );
    }

    /**
     * @param {ClockifyApi.SubmitApprovalRequestBody} request
     * @param {ApprovalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.approvals.submitApprovalRequest({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         body: {
     *             period: "MONTHLY",
     *             periodStart: "2020-01-01T00:00:00.000Z"
     *         }
     *     })
     */
    public submitApprovalRequest(
        request: ClockifyApi.SubmitApprovalRequestBody,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ApprovalRequestDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__submitApprovalRequest(request, requestOptions));
    }

    private async __submitApprovalRequest(
        request: ClockifyApi.SubmitApprovalRequestBody,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ApprovalRequestDtoV1>> {
        const { workspaceId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/approval-requests`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ApprovalRequestDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/approval-requests",
        );
    }

    /**
     * @param {ClockifyApi.ResubmitEntriesForApprovalRequest} request
     * @param {ApprovalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.approvals.resubmitEntriesForApproval({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         body: {
     *             period: "MONTHLY",
     *             periodStart: "2020-01-01T00:00:00.000Z"
     *         }
     *     })
     */
    public resubmitEntriesForApproval(
        request: ClockifyApi.ResubmitEntriesForApprovalRequest,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ApprovalRequestDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__resubmitEntriesForApproval(request, requestOptions));
    }

    private async __resubmitEntriesForApproval(
        request: ClockifyApi.ResubmitEntriesForApprovalRequest,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ApprovalRequestDtoV1>> {
        const { workspaceId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/approval-requests/resubmit-entries-for-approval`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ApprovalRequestDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/approval-requests/resubmit-entries-for-approval",
        );
    }

    /**
     * @param {ClockifyApi.SubmitApprovalRequestForUserRequest} request
     * @param {ApprovalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.approvals.submitApprovalRequestForUser({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         userId: "5a0ab5acb07987125438b60f",
     *         body: {
     *             period: "MONTHLY",
     *             periodStart: "2020-01-01T00:00:00.000Z"
     *         }
     *     })
     */
    public submitApprovalRequestForUser(
        request: ClockifyApi.SubmitApprovalRequestForUserRequest,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ApprovalRequestDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__submitApprovalRequestForUser(request, requestOptions));
    }

    private async __submitApprovalRequestForUser(
        request: ClockifyApi.SubmitApprovalRequestForUserRequest,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ApprovalRequestDtoV1>> {
        const { workspaceId, userId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/approval-requests/users/${core.url.encodePathParam(userId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ApprovalRequestDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/approval-requests/users/{userId}",
        );
    }

    /**
     * @param {ClockifyApi.ResubmitEntriesForApprovalForUserRequest} request
     * @param {ApprovalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.approvals.resubmitEntriesForApprovalForUser({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         userId: "5a0ab5acb07987125438b60f",
     *         body: {
     *             period: "MONTHLY",
     *             periodStart: "2020-01-01T00:00:00.000Z"
     *         }
     *     })
     */
    public resubmitEntriesForApprovalForUser(
        request: ClockifyApi.ResubmitEntriesForApprovalForUserRequest,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ApprovalRequestDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__resubmitEntriesForApprovalForUser(request, requestOptions));
    }

    private async __resubmitEntriesForApprovalForUser(
        request: ClockifyApi.ResubmitEntriesForApprovalForUserRequest,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ApprovalRequestDtoV1>> {
        const { workspaceId, userId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/approval-requests/users/${core.url.encodePathParam(userId)}/resubmit-entries-for-approval`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ApprovalRequestDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/approval-requests/users/{userId}/resubmit-entries-for-approval",
        );
    }

    /**
     * @param {ClockifyApi.UpdateApprovalRequestRequest} request
     * @param {ApprovalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.approvals.updateApprovalRequest({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         approvalRequestId: "940ab5acb07987125438b65y",
     *         note: "Approved after review.",
     *         state: "APPROVED"
     *     })
     */
    public updateApprovalRequest(
        request: ClockifyApi.UpdateApprovalRequestRequest,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ApprovalRequestDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__updateApprovalRequest(request, requestOptions));
    }

    private async __updateApprovalRequest(
        request: ClockifyApi.UpdateApprovalRequestRequest,
        requestOptions?: ApprovalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ApprovalRequestDtoV1>> {
        const { workspaceId, approvalRequestId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/approval-requests/${core.url.encodePathParam(approvalRequestId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.ApprovalRequestDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/approval-requests/{approvalRequestId}",
        );
    }
}
