// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace RolesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RolesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RolesClient.Options>;

    constructor(options: RolesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.GiveUserManagerRoleRequest} request
     * @param {RolesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.roles.giveUserManagerRole({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         userId: "5a0ab5acb07987125438b60f",
     *         body: {
     *             entityId: "entityId",
     *             role: "WORKSPACE_ADMIN"
     *         }
     *     })
     */
    public giveUserManagerRole(
        request: ClockifyApi.GiveUserManagerRoleRequest,
        requestOptions?: RolesClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.RoleAssignmentDtoV1[]> {
        return core.HttpResponsePromise.fromPromise(this.__giveUserManagerRole(request, requestOptions));
    }

    private async __giveUserManagerRole(
        request: ClockifyApi.GiveUserManagerRoleRequest,
        requestOptions?: RolesClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.RoleAssignmentDtoV1[]>> {
        const { workspaceId, userId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/users/${core.url.encodePathParam(userId)}/roles`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.RoleAssignmentDtoV1[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/users/{userId}/roles",
        );
    }

    /**
     * @param {ClockifyApi.RemoveUserManagerRoleRequest} request
     * @param {RolesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.roles.removeUserManagerRole({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         userId: "5a0ab5acb07987125438b60f",
     *         body: {
     *             entityId: "entityId",
     *             role: "WORKSPACE_ADMIN"
     *         }
     *     })
     */
    public removeUserManagerRole(
        request: ClockifyApi.RemoveUserManagerRoleRequest,
        requestOptions?: RolesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__removeUserManagerRole(request, requestOptions));
    }

    private async __removeUserManagerRole(
        request: ClockifyApi.RemoveUserManagerRoleRequest,
        requestOptions?: RolesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, userId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/users/${core.url.encodePathParam(userId)}/roles`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/users/{userId}/roles",
        );
    }
}
