// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ClockifyApi from "../../../index.js";

export declare namespace ReportsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ReportsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ReportsClient.Options>;

    constructor(options: ReportsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Generates an attendance report. The request accepts attendanceFilter as the only report-specific filter.
     *
     * @param {ClockifyApi.AttendanceReportRequest} request
     * @param {ReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.BadRequestError}
     * @throws {@link ClockifyApi.UnauthorizedError}
     * @throws {@link ClockifyApi.ForbiddenError}
     * @throws {@link ClockifyApi.NotFoundError}
     *
     * @example
     *     await client.reports.attendance({
     *         workspaceId: "workspaceId",
     *         amountShown: "COST",
     *         amounts: ["EARNED", "COST"],
     *         approvalState: "APPROVED",
     *         archived: false,
     *         attendanceFilter: {
     *             breakFilters: [{
     *                     filtrationType: "EXACTLY",
     *                     value: "50"
     *                 }],
     *             capacityFilters: [{
     *                     filtrationType: "EXACTLY",
     *                     value: "750"
     *                 }],
     *             endFilters: [{
     *                     filtrationType: "EXACTLY",
     *                     value: "17:00"
     *                 }],
     *             hasTimeOff: true,
     *             overtimeFilters: [{
     *                     filtrationType: "EXACTLY",
     *                     value: "150"
     *                 }],
     *             page: 1,
     *             pageSize: 20,
     *             sortColumn: "USER",
     *             startFilters: [{
     *                     filtrationType: "EXACTLY",
     *                     value: "value"
     *                 }],
     *             workFilters: [{
     *                     filtrationType: "EXACTLY",
     *                     value: "750"
     *                 }]
     *         },
     *         billable: true,
     *         clients: {
     *             contains: "CONTAINS",
     *             ids: ["5b715448b079875110792222"],
     *             status: "ACTIVE"
     *         },
     *         customFields: [{
     *                 id: "5b71544ab0798751107918b3",
     *                 isEmpty: false,
     *                 numberCondition: "EQUAL",
     *                 type: "NUMBER",
     *                 value: 2000
     *             }],
     *         dateFormat: "2018-11-01",
     *         dateRangeEnd: "2018-11-30T23:59:59.999",
     *         dateRangeStart: "2018-11-01T00:00:00",
     *         dateRangeType: "LAST_MONTH",
     *         description: "some description keyword",
     *         exportType: "JSON",
     *         invoicingState: "INVOICED",
     *         projects: {
     *             contains: "CONTAINS",
     *             ids: ["5b715448b079875110791111"],
     *             status: "ACTIVE"
     *         },
     *         rounding: false,
     *         sortOrder: "ASCENDING",
     *         timeFormat: "T00:00:00",
     *         timeZone: "Europe/Belgrade",
     *         userLocale: "en",
     *         weekStart: "MONDAY",
     *         withoutDescription: false,
     *         zoomLevel: "WEEK"
     *     })
     */
    public attendance(
        request: ClockifyApi.AttendanceReportRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.AttendanceReportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__attendance(request, requestOptions));
    }

    private async __attendance(
        request: ClockifyApi.AttendanceReportRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.AttendanceReportResponse>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/reports/attendance`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.AttendanceReportResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ClockifyApi.BadRequestError(
                        _response.error.body as ClockifyApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new ClockifyApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ClockifyApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/reports/attendance",
        );
    }

    /**
     * Generates a detailed time-entry report. On free subscription plans, detailed report data is limited to a maximum interval length of one month (31 days). The request accepts detailedFilter as the only report-specific filter.
     *
     * @param {ClockifyApi.DetailedReportRequest} request
     * @param {ReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.BadRequestError}
     * @throws {@link ClockifyApi.UnauthorizedError}
     * @throws {@link ClockifyApi.ForbiddenError}
     * @throws {@link ClockifyApi.NotFoundError}
     *
     * @example
     *     await client.reports.detailed({
     *         workspaceId: "workspaceId",
     *         amountShown: "COST",
     *         amounts: ["EARNED", "COST"],
     *         approvalState: "APPROVED",
     *         archived: false,
     *         billable: true,
     *         clients: {
     *             contains: "CONTAINS",
     *             ids: ["5b715448b079875110792222"],
     *             status: "ACTIVE"
     *         },
     *         customFields: [{
     *                 id: "5b71544ab0798751107918b3",
     *                 isEmpty: false,
     *                 numberCondition: "EQUAL",
     *                 type: "NUMBER",
     *                 value: 2000
     *             }],
     *         dateFormat: "2018-11-01",
     *         dateRangeEnd: "2018-11-30T23:59:59.999",
     *         dateRangeStart: "2018-11-01T00:00:00",
     *         dateRangeType: "LAST_MONTH",
     *         description: "some description keyword",
     *         detailedFilter: {
     *             auditFilter: {
     *                 duration: 2,
     *                 durationShorter: false,
     *                 withoutProject: false,
     *                 withoutTask: true
     *             },
     *             options: {
     *                 totals: "CALCULATE"
     *             },
     *             page: 1,
     *             pageSize: 20,
     *             sortColumn: "ID"
     *         },
     *         exportType: "JSON",
     *         invoicingState: "INVOICED",
     *         projects: {
     *             contains: "CONTAINS",
     *             ids: ["5b715448b079875110791111"],
     *             status: "ACTIVE"
     *         },
     *         rounding: false,
     *         sortOrder: "ASCENDING",
     *         timeFormat: "T00:00:00",
     *         timeZone: "Europe/Belgrade",
     *         userCustomFields: [{
     *                 id: "5b71544ab0798751107918b3",
     *                 isEmpty: false,
     *                 numberCondition: "EQUAL",
     *                 type: "NUMBER",
     *                 value: 2000
     *             }],
     *         userLocale: "en",
     *         weekStart: "MONDAY",
     *         withoutDescription: false,
     *         zoomLevel: "WEEK"
     *     })
     */
    public detailed(
        request: ClockifyApi.DetailedReportRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.DetailedReportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__detailed(request, requestOptions));
    }

    private async __detailed(
        request: ClockifyApi.DetailedReportRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.DetailedReportResponse>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/reports/detailed`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.DetailedReportResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ClockifyApi.BadRequestError(
                        _response.error.body as ClockifyApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new ClockifyApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ClockifyApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/reports/detailed",
        );
    }

    /**
     * Generates a summary report. On free subscription plans, summary report data is limited to a maximum interval length of one month (31 days). The request accepts summaryFilter as the only report-specific filter. summaryFilter.groups allows up to three values from CLIENT, PROJECT, USER, WEEK, DATE, MONTH, TIMEENTRY, TASK.
     *
     * @param {ClockifyApi.SummaryReportRequest} request
     * @param {ReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.BadRequestError}
     * @throws {@link ClockifyApi.UnauthorizedError}
     * @throws {@link ClockifyApi.ForbiddenError}
     * @throws {@link ClockifyApi.NotFoundError}
     *
     * @example
     *     await client.reports.summary({
     *         workspaceId: "workspaceId",
     *         amountShown: "COST",
     *         amounts: ["EARNED", "COST"],
     *         approvalState: "APPROVED",
     *         archived: false,
     *         billable: true,
     *         clients: {
     *             contains: "CONTAINS",
     *             ids: ["5b715448b079875110792222"],
     *             status: "ACTIVE"
     *         },
     *         customFields: [{
     *                 id: "5b71544ab0798751107918b3",
     *                 isEmpty: false,
     *                 numberCondition: "EQUAL",
     *                 type: "NUMBER",
     *                 value: 2000
     *             }],
     *         dateFormat: "2018-11-01",
     *         dateRangeEnd: "2018-11-30T23:59:59.999",
     *         dateRangeStart: "2018-11-01T00:00:00",
     *         dateRangeType: "LAST_MONTH",
     *         description: "some description keyword",
     *         exportType: "JSON",
     *         invoicingState: "INVOICED",
     *         projects: {
     *             contains: "CONTAINS",
     *             ids: ["5b715448b079875110791111"],
     *             status: "ACTIVE"
     *         },
     *         rounding: false,
     *         sortOrder: "ASCENDING",
     *         summaryFilter: {
     *             groups: ["CLIENT", "PROJECT", "USER"],
     *             sortColumn: "GROUP",
     *             summaryChartType: "PROJECT"
     *         },
     *         timeFormat: "T00:00:00",
     *         timeZone: "Europe/Belgrade",
     *         userCustomFields: [{
     *                 id: "5b71544ab0798751107918b3",
     *                 isEmpty: false,
     *                 numberCondition: "EQUAL",
     *                 type: "NUMBER",
     *                 value: 2000
     *             }],
     *         userLocale: "en",
     *         weekStart: "MONDAY",
     *         withoutDescription: false,
     *         zoomLevel: "WEEK"
     *     })
     */
    public summary(
        request: ClockifyApi.SummaryReportRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.SummaryReportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__summary(request, requestOptions));
    }

    private async __summary(
        request: ClockifyApi.SummaryReportRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.SummaryReportResponse>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/reports/summary`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.SummaryReportResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ClockifyApi.BadRequestError(
                        _response.error.body as ClockifyApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new ClockifyApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ClockifyApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/reports/summary",
        );
    }

    /**
     * Generates a weekly report. On free subscription plans, weekly report data is limited to a maximum interval length of one month (31 days). The request accepts weeklyFilter as the only report-specific filter. weeklyFilter.group is USER or PROJECT; weeklyFilter.subgroup is always TIME.
     *
     * @param {ClockifyApi.WeeklyReportRequest} request
     * @param {ReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ClockifyApi.BadRequestError}
     * @throws {@link ClockifyApi.UnauthorizedError}
     * @throws {@link ClockifyApi.ForbiddenError}
     * @throws {@link ClockifyApi.NotFoundError}
     *
     * @example
     *     await client.reports.weekly({
     *         workspaceId: "workspaceId",
     *         amountShown: "COST",
     *         amounts: ["EARNED", "COST"],
     *         approvalState: "APPROVED",
     *         archived: false,
     *         billable: true,
     *         clients: {
     *             contains: "CONTAINS",
     *             ids: ["5b715448b079875110792222"],
     *             status: "ACTIVE"
     *         },
     *         customFields: [{
     *                 id: "5b71544ab0798751107918b3",
     *                 isEmpty: false,
     *                 numberCondition: "EQUAL",
     *                 type: "NUMBER",
     *                 value: 2000
     *             }],
     *         dateFormat: "2018-11-01",
     *         dateRangeEnd: "2018-11-30T23:59:59.999",
     *         dateRangeStart: "2018-11-01T00:00:00",
     *         dateRangeType: "LAST_MONTH",
     *         description: "some description keyword",
     *         exportType: "JSON",
     *         invoicingState: "INVOICED",
     *         projects: {
     *             contains: "CONTAINS",
     *             ids: ["5b715448b079875110791111"],
     *             status: "ACTIVE"
     *         },
     *         rounding: false,
     *         sortOrder: "ASCENDING",
     *         timeFormat: "T00:00:00",
     *         timeZone: "Europe/Belgrade",
     *         userCustomFields: [{
     *                 id: "5b71544ab0798751107918b3",
     *                 isEmpty: false,
     *                 numberCondition: "EQUAL",
     *                 type: "NUMBER",
     *                 value: 2000
     *             }],
     *         userLocale: "en",
     *         weekStart: "MONDAY",
     *         weeklyFilter: {
     *             group: "USER",
     *             subgroup: "TIME"
     *         },
     *         withoutDescription: false,
     *         zoomLevel: "WEEK"
     *     })
     */
    public weekly(
        request: ClockifyApi.WeeklyReportRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.WeeklyReportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__weekly(request, requestOptions));
    }

    private async __weekly(
        request: ClockifyApi.WeeklyReportRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.WeeklyReportResponse>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/reports/weekly`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.WeeklyReportResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ClockifyApi.BadRequestError(
                        _response.error.body as ClockifyApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new ClockifyApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new ClockifyApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new ClockifyApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ClockifyApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/reports/weekly",
        );
    }
}
