// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace ExpenseReportClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExpenseReportClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExpenseReportClient.Options>;

    constructor(options: ExpenseReportClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Expense report data on FREE subscription plan is limited to a maximum interval length of one month (31 days).
     *
     * @param {ClockifyApi.ExpenseReportFilterV1} request
     * @param {ExpenseReportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.expenseReport.generateDetailedReportV1({
     *         workspaceId: "60f91b3ffdaf031696ec6bbb",
     *         dateRangeEnd: "2021-10-27T23:59:59.999",
     *         dateRangeStart: "2021-10-27T00:00:00"
     *     })
     */
    public generateDetailedReportV1(
        request: ClockifyApi.ExpenseReportFilterV1,
        requestOptions?: ExpenseReportClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.ExpenseDetailedReportDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__generateDetailedReportV1(request, requestOptions));
    }

    private async __generateDetailedReportV1(
        request: ClockifyApi.ExpenseReportFilterV1,
        requestOptions?: ExpenseReportClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.ExpenseDetailedReportDtoV1>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/reports/expenses/detailed`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as ClockifyApi.ExpenseDetailedReportDtoV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/reports/expenses/detailed",
        );
    }
}
