// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace TimeOffClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TimeOffClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TimeOffClient.Options>;

    constructor(options: TimeOffClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.SubmitTimeOffRequest} request
     * @param {TimeOffClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOff.submit({
     *         workspaceId: "workspaceId",
     *         policyId: "policyId",
     *         body: {
     *             note: "Create Time Off Note",
     *             timeOffPeriod: {
     *                 halfDayPeriod: "NOT_DEFINED",
     *                 isHalfDay: false,
     *                 period: {
     *                     days: 1,
     *                     end: "2022-08-26",
     *                     start: "2022-08-26"
     *                 }
     *             }
     *         }
     *     })
     */
    public submit(
        request: ClockifyApi.SubmitTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.TimeOffRequestFullV1Dto> {
        return core.HttpResponsePromise.fromPromise(this.__submit(request, requestOptions));
    }

    private async __submit(
        request: ClockifyApi.SubmitTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.TimeOffRequestFullV1Dto>> {
        const { workspaceId, policyId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/policies/${core.url.encodePathParam(policyId)}/requests`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.TimeOffRequestFullV1Dto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/time-off/policies/{policyId}/requests",
        );
    }

    /**
     * @param {ClockifyApi.WithdrawTimeOffRequest} request
     * @param {TimeOffClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOff.withdraw({
     *         workspaceId: "workspaceId",
     *         policyId: "policyId",
     *         requestId: "requestId"
     *     })
     */
    public withdraw(
        request: ClockifyApi.WithdrawTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.TimeOffRequestDto> {
        return core.HttpResponsePromise.fromPromise(this.__withdraw(request, requestOptions));
    }

    private async __withdraw(
        request: ClockifyApi.WithdrawTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.TimeOffRequestDto>> {
        const { workspaceId, policyId, requestId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/policies/${core.url.encodePathParam(policyId)}/requests/${core.url.encodePathParam(requestId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.TimeOffRequestDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/time-off/policies/{policyId}/requests/{requestId}",
        );
    }

    /**
     * @param {ClockifyApi.ChangeTimeOffRequestStatusRequest} request
     * @param {TimeOffClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOff.changeTimeOffRequestStatus({
     *         workspaceId: "workspaceId",
     *         policyId: "policyId",
     *         requestId: "requestId",
     *         note: "Time Off Request Note",
     *         status: "APPROVED"
     *     })
     */
    public changeTimeOffRequestStatus(
        request: ClockifyApi.ChangeTimeOffRequestStatusRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.TimeOffRequestDto> {
        return core.HttpResponsePromise.fromPromise(this.__changeTimeOffRequestStatus(request, requestOptions));
    }

    private async __changeTimeOffRequestStatus(
        request: ClockifyApi.ChangeTimeOffRequestStatusRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.TimeOffRequestDto>> {
        const { workspaceId, policyId, requestId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/policies/${core.url.encodePathParam(policyId)}/requests/${core.url.encodePathParam(requestId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.TimeOffRequestDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/time-off/policies/{policyId}/requests/{requestId}",
        );
    }

    /**
     * @param {ClockifyApi.SubmitForUserTimeOffRequest} request
     * @param {TimeOffClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOff.submitForUser({
     *         workspaceId: "workspaceId",
     *         policyId: "policyId",
     *         userId: "userId",
     *         body: {
     *             note: "Create Time Off Note",
     *             timeOffPeriod: {
     *                 halfDayPeriod: "NOT_DEFINED",
     *                 isHalfDay: false,
     *                 period: {
     *                     days: 1,
     *                     end: "2022-08-26",
     *                     start: "2022-08-26"
     *                 }
     *             }
     *         }
     *     })
     */
    public submitForUser(
        request: ClockifyApi.SubmitForUserTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.TimeOffRequestFullV1Dto> {
        return core.HttpResponsePromise.fromPromise(this.__submitForUser(request, requestOptions));
    }

    private async __submitForUser(
        request: ClockifyApi.SubmitForUserTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.TimeOffRequestFullV1Dto>> {
        const { workspaceId, policyId, userId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/policies/${core.url.encodePathParam(policyId)}/users/${core.url.encodePathParam(userId)}/requests`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.TimeOffRequestFullV1Dto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/time-off/policies/{policyId}/users/{userId}/requests",
        );
    }

    /**
     * @param {ClockifyApi.TimeOffRequestSearchRequest} request
     * @param {TimeOffClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOff.list({
     *         workspaceId: "workspaceId",
     *         end: "2022-08-26T23:55:06Z",
     *         page: 1,
     *         pageSize: 50,
     *         start: "2022-08-26T08:00:06Z",
     *         statuses: ["APPROVED", "PENDING"],
     *         userGroups: ["5b715612b079875110791342", "5b715612b079875110791324", "5b715612b079875110793142"],
     *         users: ["5b715612b079875110791432", "b715612b079875110791234"]
     *     })
     */
    public list(
        request: ClockifyApi.TimeOffRequestSearchRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.TimeOffRequestsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: ClockifyApi.TimeOffRequestSearchRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.TimeOffRequestsResponse>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/requests`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.TimeOffRequestsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/time-off/requests",
        );
    }

    /**
     * @param {ClockifyApi.GetTimeOffRequest} request
     * @param {TimeOffClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOff.get({
     *         workspaceId: "workspaceId",
     *         requestId: "requestId"
     *     })
     */
    public get(
        request: ClockifyApi.GetTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.TimeOffRequest> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: ClockifyApi.GetTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.TimeOffRequest>> {
        const { workspaceId, requestId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/requests/${core.url.encodePathParam(requestId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.TimeOffRequest, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/time-off/requests/{requestId}",
        );
    }

    /**
     * @param {ClockifyApi.DeleteTimeOffRequest} request
     * @param {TimeOffClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOff.delete({
     *         workspaceId: "workspaceId",
     *         requestId: "requestId"
     *     })
     */
    public delete(
        request: ClockifyApi.DeleteTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: ClockifyApi.DeleteTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, requestId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/requests/${core.url.encodePathParam(requestId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspaceId}/time-off/requests/{requestId}",
        );
    }

    /**
     * @param {ClockifyApi.UpdateStatusTimeOffRequest} request
     * @param {TimeOffClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.timeOff.updateStatus({
     *         workspaceId: "workspaceId",
     *         requestId: "requestId"
     *     })
     */
    public updateStatus(
        request: ClockifyApi.UpdateStatusTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.TimeOffRequest> {
        return core.HttpResponsePromise.fromPromise(this.__updateStatus(request, requestOptions));
    }

    private async __updateStatus(
        request: ClockifyApi.UpdateStatusTimeOffRequest,
        requestOptions?: TimeOffClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.TimeOffRequest>> {
        const { workspaceId, requestId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/time-off/requests/${core.url.encodePathParam(requestId)}/status`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.TimeOffRequest, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/workspaces/{workspaceId}/time-off/requests/{requestId}/status",
        );
    }
}
