// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as ClockifyApi from "../../../index.js";

export declare namespace UsersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UsersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UsersClient.Options>;

    constructor(options: UsersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ClockifyApi.GetCurrentUserRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.users.getCurrentUser()
     */
    public getCurrentUser(
        request: ClockifyApi.GetCurrentUserRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.UserDtoV1> {
        return core.HttpResponsePromise.fromPromise(this.__getCurrentUser(request, requestOptions));
    }

    private async __getCurrentUser(
        request: ClockifyApi.GetCurrentUserRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.UserDtoV1>> {
        const { "include-memberships": includeMemberships } = request;
        const _queryParams: Record<string, unknown> = {
            "include-memberships": includeMemberships,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                "user",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.UserDtoV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/user");
    }

    /**
     * @param {ClockifyApi.PutWorkspacesWorkspaceIdMemberProfileUserIdRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.users.putWorkspacesWorkspaceIdMemberProfileUserId({
     *         workspaceId: "workspaceId",
     *         userId: "userId",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public putWorkspacesWorkspaceIdMemberProfileUserId(
        request: ClockifyApi.PutWorkspacesWorkspaceIdMemberProfileUserIdRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(
            this.__putWorkspacesWorkspaceIdMemberProfileUserId(request, requestOptions),
        );
    }

    private async __putWorkspacesWorkspaceIdMemberProfileUserId(
        request: ClockifyApi.PutWorkspacesWorkspaceIdMemberProfileUserIdRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { workspaceId, userId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/member-profile/${core.url.encodePathParam(userId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/member-profile/{userId}",
        );
    }

    /**
     * @param {ClockifyApi.FindWorkspaceUsersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.users.findWorkspaceUsers({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         email: "<EMAIL>",
     *         "project-id": "21a687e29ae1f428e7ebe606",
     *         "account-statuses": "LIMITED",
     *         name: "John",
     *         "include-roles": true
     *     })
     */
    public findWorkspaceUsers(
        request: ClockifyApi.FindWorkspaceUsersRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.UserDtoV1[]> {
        return core.HttpResponsePromise.fromPromise(this.__findWorkspaceUsers(request, requestOptions));
    }

    private async __findWorkspaceUsers(
        request: ClockifyApi.FindWorkspaceUsersRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.UserDtoV1[]>> {
        const {
            workspaceId,
            email,
            "project-id": projectId,
            status,
            "account-statuses": accountStatuses,
            name,
            "sort-column": sortColumn,
            "sort-order": sortOrder,
            page,
            "page-size": pageSize,
            memberships,
            "include-roles": includeRoles,
        } = request;
        const _queryParams: Record<string, unknown> = {
            email,
            "project-id": projectId,
            status: status != null ? status : undefined,
            "account-statuses": accountStatuses,
            name,
            "sort-column": sortColumn != null ? sortColumn : undefined,
            "sort-order": sortOrder != null ? sortOrder : undefined,
            page,
            "page-size": pageSize,
            memberships: memberships != null ? memberships : undefined,
            "include-roles": includeRoles,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/users`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.UserDtoV1[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/users",
        );
    }

    /**
     * @param {ClockifyApi.UserFilterRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.users.filterWorkspaceUsers({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         accountStatuses: ["LIMITED", "ACTIVE"],
     *         email: "<EMAIL>",
     *         includeRoles: false,
     *         memberships: "NONE",
     *         name: "John",
     *         page: 1,
     *         pageSize: 50,
     *         projectId: "21a687e29ae1f428e7ebe606",
     *         roles: ["WORKSPACE_ADMIN", "OWNER"],
     *         sortColumn: "ID",
     *         sortOrder: "ASCENDING",
     *         status: "ACTIVE",
     *         userGroups: ["5a0ab5acb07987125438b60f", "72wab5acb07987125438b564"]
     *     })
     */
    public filterWorkspaceUsers(
        request: ClockifyApi.UserFilterRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.UserDtoV1[]> {
        return core.HttpResponsePromise.fromPromise(this.__filterWorkspaceUsers(request, requestOptions));
    }

    private async __filterWorkspaceUsers(
        request: ClockifyApi.UserFilterRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.UserDtoV1[]>> {
        const { workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/users/info`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.UserDtoV1[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/workspaces/{workspaceId}/users/info",
        );
    }

    /**
     * @param {ClockifyApi.UpdateUserCustomFieldValueRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.users.updateUserCustomFieldValue({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         userId: "5a0ab5acb07987125438b60f",
     *         customFieldId: "5e4117fe8c625f38930d57b7",
     *         value: "20231211-12345"
     *     })
     */
    public updateUserCustomFieldValue(
        request: ClockifyApi.UpdateUserCustomFieldValueRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__updateUserCustomFieldValue(request, requestOptions));
    }

    private async __updateUserCustomFieldValue(
        request: ClockifyApi.UpdateUserCustomFieldValueRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { workspaceId, userId, customFieldId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/users/${core.url.encodePathParam(userId)}/custom-field/${core.url.encodePathParam(customFieldId)}/value`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/workspaces/{workspaceId}/users/{userId}/custom-field/{customFieldId}/value",
        );
    }

    /**
     * @param {ClockifyApi.FindUserTeamManagersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.users.findUserTeamManagers({
     *         workspaceId: "64a687e29ae1f428e7ebe303",
     *         userId: "5a0ab5acb07987125438b60f"
     *     })
     */
    public findUserTeamManagers(
        request: ClockifyApi.FindUserTeamManagersRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<ClockifyApi.UserDtoV1[]> {
        return core.HttpResponsePromise.fromPromise(this.__findUserTeamManagers(request, requestOptions));
    }

    private async __findUserTeamManagers(
        request: ClockifyApi.FindUserTeamManagersRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<ClockifyApi.UserDtoV1[]>> {
        const {
            workspaceId,
            userId,
            "sort-column": sortColumn,
            "sort-order": sortOrder,
            page,
            "page-size": pageSize,
        } = request;
        const _queryParams: Record<string, unknown> = {
            "sort-column": sortColumn != null ? sortColumn : undefined,
            "sort-order": sortOrder != null ? sortOrder : undefined,
            page,
            "page-size": pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Addon-Token": requestOptions?.addonToken ?? this._options?.addonToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ClockifyApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/users/${core.url.encodePathParam(userId)}/managers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ClockifyApi.UserDtoV1[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ClockifyApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/workspaces/{workspaceId}/users/{userId}/managers",
        );
    }
}
